{% extends "base.html" %}
{% load i18n %}
{% block title %}Family Survey Form{% endblock %}
{% block stylesheets %}
{{ block.super }}
    <style>
    .container-form{ padding: 1rem 2rem 0 !important;}
    .house-details i{border-bottom: 1px solid #999 !important;}
    .form-group .bar {
    position: relative;
    border-bottom: 1px solid #999 !important;
    display: block;}

.form-group input:disabled ~ .control-label ,
.form-group input:read-only ~ .control-label{
font-size: 0.8rem !important;
color: gray !important;
top: -1rem !important;
right: 0 !important;
}
.form-group input:disabled{color: #000 !important;}

    </style>
{% endblock %}

{% block content %}
    {% if messages %}
    {{ messages.0 }}
{% endif %}
        <div class="container-form">
                {% if form.errors %}
          {% for field in form %}
              {% for error in field.errors %}
                  <div class="alert alert-danger">
                      <strong>{{ error|escape }}</strong>
                  </div>
              {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
              </div>
          {% endfor %}
      {% endif %}

<form id="js-form" action="" method="post" >

 {% if messages %}
<div class="messages">
<ul class="messages">
{% for message in messages %}
<div  {% if message.tags == 'error' %} class="alert alert-danger" {% else %} class="alert alert-{{ message.tags }}" {% endif %}>
{% if message.tags == 'error' %}
<span class="glyphicon glyphicon-remove-sign"></span>
{% elif message.tags == 'warning' %}
<span class="glyphicon glyphicon-alert"></span>
 {% else %}
  <span class="glyphicon glyphicon-ok"></span>
{% endif %}
{{ message }}
</div>
 {% if message.tags == 'warning' and forloop.last %}
     <input class="js-warning" type="text" hidden value="warning">
<div class="button-container-form">
<button id="btn-warning" type="submit" name="post" value="post-after-warning" class="button"><span>{{ _('Save And Continue') }}</span></button>
 <a href="{% url "survey:add-house" %}"> <button type="button" class="button" style="background-color: #17a2b8;"><span>{{ _('Back') }}</span></button></a>
</div>



 {% endif  %}
{% endfor %}
</ul>
</div>
{% endif %}
              <fieldset class="scheduler-border">
                 <legend class="scheduler-border"><i class="fa fa-home"></i> {{ _('House Information')}}</legend>
  {% csrf_token %}

                        <div class="row r-1 ">
                        <!-- start column -->
                         <div class="col-md-4">
                        <div class="form-group">
                          {{ form.housing_type }}
                          <label for="input" class="control-label">{{ form.housing_type.label_tag }}</label>
                          <i class="bar"></i>
                          </div>
                        <!-- end column -->
                            <!-- start hidden field -->
                        <div class="form-group" style="display: none;">
                          {{ form.housing_type_txt }}
                          <label for="input" class="control-label">{{ form.housing_type_txt.label_tag }}</label>
                          <i class="bar"></i>
                        </div>
                      </div>
                            <!-- End hidden field -->
                            <!-- start column -->
                         <div class="col-md-4">
                        <div class="form-group">
                          {{ form.building_material }}
                          <label for="input" class="control-label">{{ form.building_material.label_tag }}</label>
                          <i class="bar"></i>
                          </div>
                        <!-- end column -->
                        <div class="form-group" style="display: none;">
                          {{ form.building_material_txt }}
                          <label for="input" class="control-label">{{ form.building_material_txt.label_tag }}</label>
                          <i class="bar"></i>
                        </div>
                      </div>
                         <div class="col-md-4">
                        <div class="form-group">
                          {{ form.housing_space }}
                          <label for="input" class="control-label">{{ form.housing_space.label_tag }}</label>
                          <i class="bar"></i>
                            <small id="emailHelp" class="form-text text-muted">{{ form.housing_space.help_text }}</small>

                        </div>
                      </div>




                        </div>

                        <div class="row">
                         <!-- start column -->
                         <div class="col-md-4">
                        <div class="form-group">
                          {{ form.housing_stay_type }}
                          <label for="input" class="control-label">{{ form.housing_stay_type.label_tag }}</label>
                          <i class="bar"></i>
                          </div>
                      </div>
                        <!-- end column -->
                <fieldset class="scheduler-border house-details">
                 <legend class="scheduler-border">{{ _('House detail') }}</legend>
                    <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                          {{ form.bed_room_count }}
                          <label for="input" class="control-label">{{ form.bed_room_count.label_tag }}</label>
                          <i class="bar"></i>
                          </div>
                      </div>

                        <div class="col-md-3">
                        <div class="form-group">
                          {{ form.other_room_count }}
                          <label for="input" class="control-label">{{ form.other_room_count.label_tag }}</label>
                          <i class="bar"></i>
                          </div>
                      </div>

                       <div class="col-md-3">
                        <div class="form-group">
                          {{ form.kitchen_count }}
                          <label for="input" class="control-label">{{ form.kitchen_count.label_tag }}</label>
                          <i class="bar"></i>
                          </div>
                      </div>

                       <div class="col-md-3">
                        <div class="form-group">
                          {{ form.bath_room_count }}
                          <label for="input" class="control-label">{{ form.bath_room_count.label_tag }}</label>
                          <i class="bar"></i>
                          </div>
                      </div>
                        </div>
                      </fieldset>
                        </div>

                        <div class="row">
                          <!-- start column -->
                         <div class="col-md-3">
                            <div class="form-group">
                          {{ form.holding_type }}
                          <label for="input" class="control-label">{{ form.holding_type.label_tag }}</label>
                                <i class="bar"></i>
                        <!-- end column -->
                         <!-- start hidden field -->
                           <div class="form-group" style="display: none;">
                          {{ form.holding_type_txt }}
                          <label for="input" class="control-label">{{ form.holding_type_txt.label_tag }}</label>
                          <i class="bar"></i>
                                    </div>
                                 </div>
                         </div>
                            <!-- End hidden field -->
                        <!-- start column -->
                         <div class="col-md-3">
                        <div class="form-group">
                          {{ form.electric_sources }}
                          <label for="input" class="control-label">{{ form.electric_sources.label_tag }}</label>
                          <i class="bar"></i>
                          </div>
                        <!-- end column -->
                        <!-- start hidden field -->
                        <div class="form-group" style="display: none;">
                          {{ form.electric_sources_txt }}
                          <label for="input" class="control-label">{{ form.electric_sources_txt.label_tag }}</label>
                          <i class="bar"></i>
                        </div>
                      </div>
                            <!-- End hidden field -->
                          <!-- start column -->
                         <div class="col-md-3">
                        <div class="form-group">
                          {{ form.water_sources }}
                          <label for="input" class="control-label">{{ form.water_sources.label_tag }}</label>
                          <i class="bar"></i>
                          </div>
                        <!-- end column -->
                       <!-- start hidden field -->
                        <div class="form-group" style="display: none;">
                          {{ form.water_sources_txt }}
                          <label for="input" class="control-label">{{ form.water_sources_txt.label_tag }}</label>
                          <i class="bar"></i>
                        </div>
                      </div>
                            <!-- End hidden field -->
                         <!-- start column -->
                         <div class="col-md-3">
                        <div class="form-group">
                          {{ form.sewage }}
                          <label for="input" class="control-label">{{ form.sewage.label_tag }}</label>
                          <i class="bar"></i>
                          </div>
                        <!-- end column -->
                         <!-- start hidden field -->
                        <div class="form-group" style="display: none;">
                          {{ form.sewage_txt }}
                          <label for="input" class="control-label">{{ form.sewage_txt.label_tag }}</label>
                          <i class="bar"></i>
                        </div>
                      </div>
                            <!-- End hidden field -->
                        </div>

                        <div class="row">
                  <fieldset class="scheduler-border">
                 <legend class="scheduler-border">{{ _('Communications') }}</legend>
                         <div class="col-md-4">
                        <div class="form-group">
                          {{ form.mobile_count }}
                          <label for="input" class="control-label">{{ form.mobile_count.label_tag }}</label>
                          <i class="bar"></i>
                        </div>
                      </div>
                                 <div class="col-md-4">
                        <div class="form-group">
                          {{ form.telephone_count }}
                          <label for="input" class="control-label">{{ form.telephone_count.label_tag }}</label>
                          <i class="bar"></i>
                        </div>
                      </div>
                        <div class="col-md-4">
                        <div class="form-group">
                          {{ form.internet_users_count }}
                          <label for="input" class="control-label">{{ form.internet_users_count.label_tag }}</label>
                          <i class="bar"></i>
                        </div>
                      </div>

                        <div class="col-md-4">
                        <div class="form-group">
                          {{ form.internet_connection }}
                          <label for="input" class="control-label">{{ form.internet_connection.label_tag }}</label>
                          <i class="bar"></i>
                        </div>
                      </div>
                        <div class="col-md-4">
                        <div class="form-group">
                          {{ form.car_count }}
                          <label for="input" class="control-label">{{ form.car_count.label_tag }}</label>
                          <i class="bar"></i>
                        </div>
                      </div>
                       <div class="col-md-4">
                        <div class="form-group">
                          {{ form.tv_count }}
                          <label for="input" class="control-label">{{ form.tv_count.label_tag }}</label>
                          <i class="bar"></i>
                        </div>
                      </div>
                   </fieldset>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                         <div class="form-group">
                          {{ form.income_avg }}
                          <label for="input" class="control-label">{{ form.income_avg.label_tag }}</label>
                          <i class="bar"></i>
                          </div>
                            </div>
                            <div class="col-md-6">
                           <div class="form-group">
                          {{ form.housing_act_economic }}
                          <label for="input" class="control-label">{{ form.housing_act_economic.label_tag }}</label>
                          <i class="bar"></i>
                          </div>
                            </div>
                        </div>
       </fieldset>
                    <div class="button-container-form">
                        <button id="btn-submit" type="submit" class="button"><span>{{ _('Save') }} <i class="fa fa-check-circle"></i> </span></button>
                         <a href="{% url "survey:home" %}"> <button type="button" class="button" style="background-color: #17a2b8;"><span>{{ _('Back') }} <i class="fa fa-arrow-circle-left"></i></span></button></a>

                    </div>
                    </form>

                <!--</fieldset>-->
              </div>


{% endblock %}

{% block javascripts %}
  {{ block.super }}
    <script>
        $("#js-form input[type=text]").each(function() {
            var value = $(this).val();
            var id = $(this).attr('id');
            if(value != "") {
                $('#' + id).parent().show()
            }
        });


  $('select').on('change', function() {
      var select_id = $(this).attr('id');
      console.log(select_id)
      switch (select_id) {
          case 'id_housing_type':
            var code = 10400006;
            break;
          case 'id_building_material':
            var code = 900005;
            break;
          case 'id_holding_type':
            var code = 1300004;
            break;
          case 'id_electric_sources':
            var code = 10000004;
            break;
          case 'id_water_sources':
            var code = 1400004;
            break;
          case 'id_sewage':
            var code = 10200005;
            break;
            }
                 var value_code = $(this).val();
                 console.log(code)
                 console.log(value_code)
                     if (code == value_code) {
                        // $('#'+ select_id + '_txt').attr('required', true)
                          $('#'+ select_id + '_txt').parent().slideToggle('slow','linear');
                     }
                     else{
                               $('#'+ select_id + '_txt').parent().slideUp('slow', 'linear');
                               $('#'+ select_id + '_txt').attr('required', false)
                               $('#'+ select_id + '_txt').val("")
                     }
  })
$(document).ready(function() {
var warning = $('.js-warning').val();
if (warning != null){
    console.log('warning javascript')
    $("#btn-submit").hide();
    $("#js-form select").each(function() {
        $(this).prop('disabled', true);
    });
        $("#js-form input").each(function() {
        $(this).prop('readonly', true);
    });
}
$("#btn-warning").click(function() {
        $("#js-form input, #js-form select").each(function() {
        $(this).prop('disabled', false);
    });
})
    $("#js-form select").each(function() {
        var select_id = $(this).attr('id');
        console.log(select_id)
        switch (select_id) {
            case 'id_housing_type':
                var code = 10400006;
                break;
            case 'id_building_material':
                var code = 900005;
                break;
            case 'id_holding_type':
                var code = 1300004;
                break;
            case 'id_electric_sources':
                var code = 10000004;
                break;
            case 'id_water_sources':
                var code = 1400004;
                break;
            case 'id_sewage':
                var code = 10200005;
                break;
        }
        var value_code = $(this).val();
        console.log(code)
        console.log(value_code)
        if (code == value_code) {
            // $('#'+ select_id + '_txt').attr('required', true)
            $('#' + select_id + '_txt').parent().show();
        }
    });
});
    </script>
{% endblock %}
