{% extends "base.html" %}
{% load i18n %}
{% block title %}بيانات الوفيات{% endblock %}
{% block stylesheets %}
{{ block.super }}
    <style>
    .container-form{ padding: 1rem 2rem 0 !important;}
   footer {position:  fixed !important;}
    .form-group .bar {
    position: relative;
    border-bottom: 1px solid #999 !important;
    display: block;}
    </style>
{% endblock %}

{% block content %}
        <div class="container-form">
                {% if form.errors %}
          {% for field in form %}
              {% for error in field.errors %}
                  <div class="alert alert-danger">
                      <strong>{{ error|escape }}</strong>
                  </div>
              {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
              </div>
          {% endfor %}
      {% endif %}

<form id="js-form" action="" method="post" >
     {% if messages %}
<div class="messages">
<ul class="messages">
{% for message in messages %}
<div  {% if message.tags == 'error' %} class="alert alert-danger" {% else %} class="alert alert-{{ message.tags }}" {% endif %}>
{% if message.tags == 'error' %}
<span class="glyphicon glyphicon-remove-sign"></span>
{% elif message.tags == 'warning' %}
<span class="glyphicon glyphicon-alert"></span>
 {% else %}
  <span class="glyphicon glyphicon-ok"></span>
{% endif %}
{{ message }}
</div>
 {% if message.tags == 'warning' and forloop.last %}
     <input class="js-warning" type="text" hidden value="warning">
<div class="button-container-form">
<button id="btn-warning" type="submit" name="post" value="post-after-warning" class="button"><span>{{ _('Save And Continue') }}</span></button>
 <a href="{% url "survey:death-form-edit"  member_obj.f_m_id %}"> <button type="button" class="button" style="background-color: #17a2b8;"><span>{{ _('Back') }}</span></button></a>
</div>



 {% endif  %}
{% endfor %}
</ul>
</div>
{% endif %}
              <fieldset class="scheduler-border">
                 <legend class="scheduler-border"><i class="fa fa-user"></i> {{ _('Death information')}}</legend>
                        <h5> الوفيات فى الأسرة خلال الإثني عشر شهراً الماضية</h5>
                    <hr>
                        {% csrf_token %}
                        <div class="row r-1 ">
                        <!-- start column -->
                      <div class="col-md-4">
                        <div class="form-group">
                          {{ form.member_name }}
                          <label for="input" class="control-label">
                            <span class="fa-stack">
                              <strong class="fa-stack-1x">33</strong>
                            </span>
                            {{ form.member_name.label_tag }}</label>
                          <i class="bar"></i>
                          <a href="" class="tooltip-link" data-toggle="tooltip" data-html="true" data-placement="auto"
                          title='<span class="message">سجل في هذا الحقل اسماء جميع الأشخاص الذين توفوا خلال الاثني عشر شهرا السابقة وكانوا يعيشون ضمن أفراد هذه الأسرة قبل وفاتهم ويسجل الاسم الثلاثي للفرد المتوفي.</span>'
                          data-trigger="click"><i class="fa far fa-question-circle"></i></a>
                          </div>
                        <!-- end column -->
                      </div>
                            <!-- start column -->
                         <div class="col-md-4">
                        <div class="form-group">
                          {{ form.gender }}
                          <label for="input" class="control-label">
                            <span class="fa-stack">
                              <strong class="fa-stack-1x">34</strong>
                            </span>
                            {{ _('Gender') }}</label>
                          <i class="bar"></i>
                          <a href="" class="tooltip-link" data-toggle="tooltip" data-html="true" data-placement="auto"
                          title='<span class="message">سجل في هذا الحقل جنس جميع الأشخاص الذين توفوا خلال الاثني عشر شهرا السابقة، وكانوا يعيشون ضمن أفراد هذه الأسرة قبل وفاتهم ويدون رمز الإجابة المناسبة حسب الجنس، فإذا كان المتوفى ذكرا دون الرمز (1) وإذا كان أنثى دون الرمز (2).</span>'
                          data-trigger="click"><i class="fa far fa-question-circle"></i></a>
                          </div>
                        <!-- end column -->
                      </div>
                         <div class="col-md-4">
                        <div class="form-group">
                          {{ form.nationality }}
                          <label for="input" class="control-label">
                            <span class="fa-stack">
                              <strong class="fa-stack-1x">35</strong>
                            </span>
                            {{ _('Nationality Name') }}</label>
                          <i class="bar"></i>
                            <small id="emailHelp" class="form-text text-muted">{{ form.nationality.help_text }}</small>
                            <a href="" class="tooltip-link" data-toggle="tooltip" data-html="true" data-placement="auto"
                            title='<span class="message">سجل في هذا الحقل جنسية جميع الأشخاص الذين توفوا خلال الاثني عشر شهرا السابقة، وكانوا يعيشون ضمن أفراد هذه الأسرة قبل وفاتهم ويدون رمز الإجابة المناسبة حسب جنسية الفرد المتوفى فإذا كان المتوفى سعوديا يدون الرمز (1) وإذا كان غير سعوديا يدون الرمز (2).</span>'
                            data-trigger="click"><i class="fa far fa-question-circle"></i></a>
                        </div>
                      </div>
                        </div>

                        <div class="row">
                         <!-- start column -->
                         <div class="col-md-4">
                        <div class="form-group">

                          {{ form.death_age }}

                          <label for="input" class="control-label">
                            <span class="fa-stack">
                              <strong class="fa-stack-1x">36</strong>
                            </span>
                            {{ form.death_age.label_tag }}</label>
                          <i class="bar"></i>
                          <a href="" class="tooltip-link" data-toggle="tooltip" data-html="true" data-placement="auto"
                          title='<span class="message">سجل في هذا الحقل العمر عند الوفاة بالسنوات الكاملة أقل من سنة (0) لجميع الأشخاص الذين توفوا خلال الاثني عشر شهرا السابقة، وكانوا يعيشون ضمن أفراد هذه الأسرة قبل وفاتهم ويدون في هذا الحقل عمر المتوفى عند حدوث الوفاة بالسنوات الكاملة مع إهمال الشهور أيا كان عددها، وللأفراد المتوفين ولم يكمل عمرهم السنة يكتب (0).</span>'
                          data-trigger="click"><i class="fa far fa-question-circle"></i></a>
                          </div>
                      </div>
                        <!-- end column -->
                    <div class="col-md-4">
                        <div class="form-group">
                          {{ form.reason_death }}
                          <label for="input" class="control-label">
                            <span class="fa-stack">
                              <strong class="fa-stack-1x">37</strong>
                            </span>
                            {{ _('Reason of Death') }}</label>
                          <i class="bar"></i>
                          <a href="" class="tooltip-link" data-toggle="tooltip" data-html="true" data-placement="auto"
                          title='<span class="message">اختر سبب الوفاة من القائمة المنسدلة المكونة من 6 بنود كالتالي:  أسباب مرضية،  شيخوخة، أسباب تتعلق بالحمل والولادة والنفاس، حوادث سير، حوادث أخرى، أسباب اخرى ويجب توضيحها</span>'
                          data-trigger="click"><i class="fa far fa-question-circle"></i></a>
                          </div>
                      </div>

                            <div class="col-md-4">

                            <div class="form-group death_reason_text"
                            style="display:
                            {% if member_obj.reason_death_txt is None or member_obj.reason_death_txt == "" %}
                              {{ 'None' }}
                            {% else %}
                              {{ 'block' }}
                            {% endif %}
                            ">
                            {{ form.reason_death_txt }}
                            <label for="input" class="control-label">{{ form.reason_death_txt.label_tag }}</label>
                            <i class="bar"></i>
                            </div>
                            </div>
                        </div>
              </fieldset>
                    <div class="button-container-form">
                        <button id="btn-submit" type="submit" class="button"><span>{{ _('Save') }}</span></button>
                         <a href="{% url "survey:home" %}"> <button type="button" class="button" style="background-color: #17a2b8;"><span>{{ _('Back') }} <i class="fa fa-arrow-circle-left"></i></span></button></a>

                    </div>

                    </form>


              </div>


{% endblock %}

{% block javascripts %}
  {{ block.super }}
    <script>
$(document).ready(function() {
    var warning = $('.js-warning').val();
    if (warning != null) {
        console.log('warning javascript')
        $("#btn-submit").hide();
        $("#js-form select").each(function () {
            $(this).prop('disabled', true);
        });
        $("#js-form input").each(function () {
            $(this).prop('readonly', true);
        });
    }
    $("#btn-warning").click(function () {
        $("#js-form input, #js-form select").each(function () {
            $(this).prop('disabled', false);
        });
    });

});
  $('select').on('change', function() {
      var select_id = $(this).attr('id');
      console.log(select_id)
      switch (select_id) {
          case 'id_reason_death':
            var code = 10700008;
            break;
            }
                 var value_code = $(this).val();
                 console.log(code)
                 console.log(value_code)
                     if (code == value_code) {
                         $('#'+ select_id + '_txt').attr('required', true)
                          $('#'+ select_id + '_txt').parent().slideToggle('slow','linear');
                     }
                     else{
                               $('#'+ select_id + '_txt').parent().slideUp('slow', 'linear');
                               $('#'+ select_id + '_txt').attr('required', false)
                               $('#'+ select_id + '_txt').val("")
                     }
  })

    </script>
{% endblock %}
