{% extends "base.html" %}
{% load i18n %}
{% block title %}Family Survey Form{% endblock %}


{% block content %}
        <button type='submit' onclick="location.href='#'"  class="button"><span><i class="fas fa-eye">{{ _('View all members') }}</i></span></button>

      <div class="container-form">
      <!-- User query form added by Wisal, 7/17/08 -->
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2>{% trans 'Add Family Member' %}</h2>
          </div>
        </div>
              <fieldset class="scheduler-border">
                 <legend class="scheduler-border">{{ _('Member Information') }}</legend>
                 <form action="" method="post">
                   {% csrf_token %}


                      <div class="col-md-6">
                        <div class="form-group">
                          {{ form_step1.member_name_first }}
                          <label for="first" class="control-label">{{ _('First Name') }}</label>
                          <i class="bar"></i>
                        </div>
                      </div>
                      <!--  col-md-12   -->
                      <div class="col-md-6">
                        <div class="form-group">

                          {{ form_step1.member_name_second }}
                          <label for="last" class="control-label">{{ _('Second Name') }}</label>
                          <i class="bar"></i>
                        </div>
                      </div>
                      <!--  col-md-12   -->

                      <div class="col-md-6">
                        <div class="form-group">

                          {{ form_step1.member_name_third }}
                          <label for="input" class="control-label">{{ _('Third Name') }}</label>
                          <i class="bar"></i>
                        </div>
                      </div>
                      <!--  col-md-12   -->
                      <div class="col-md-6">
                        <div class="form-group">

                          {{ form_step1.id_number_member }}
                          <label for="input" class="control-label">{{ _('ID Number') }}</label>
                          <i class="bar"></i>
                        </div>
                      </div>
                      <!--  col-md-12   -->
                      <div class="col-md-6">
                        <div class="form-group">

                          {{ form_step1.family_relation }}
                          <label for="input" class="control-label">{{ _('Relation') }}</label>
                          <i class="bar"></i>
                          </div>
                      </div>
                      <!--  col-md-12   -->
                      <div class="col-md-6">
                        <div class="form-group">

                          {{ form_step1.gender }}
                          <label for="input" class="control-label">{{ _('Gender') }}</label>
                          <i class="bar"></i>
                          </div>
                      </div>
                      <!--  col-md-12   -->
                      <div class="col-md-6">
                        <div class="form-group">
                          {{ form_step1.age }}
                          <label for="input" class="control-label">{{ _('Age') }}</label>
                          <i class="bar"></i>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">

                          {{ form_step1.birth_month }}
                          <label for="input" class="control-label">{{ _('Birth Month') }}</label>
                          <i class="bar"></i>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">

                          {{ form_step1.birth_year }}
                          <label for="input" class="control-label attachment">{{ _('Birth Year') }}</label>
                          <i class="bar"></i>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">

                          {{ form_step1.nationality }}
                          <label for="input" class="control-label attachment">{{ _('Nationality') }}</label>
                          <i class="bar"></i>
                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="checkbox">
                          <label>
                          {{ form_step1.difficulty_1 }}
                          <i class="helper"></i>{{ _('Eyesight difficulty') }}
                         </label>
                       </div>
                      </div>

                      <div class="col-md-2 levels level-1 id_difficulty_1">

                        <div class="form-radio">
                          <span>{{ form_step1.difficulty_1_degree.label }}</span>
                          {% for choice in form_step1.difficulty_1_degree %}
                            <div class="radio">
                              <label>
                              {{ choice.tag }}
                              <i class="helper"></i>{{ choice.choice_label }}
                              </label>
                            </div>
                          {% endfor %}
                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="checkbox">
                          <label>
                          {{ form_step1.difficulty_2 }}
                          <i class="helper"></i>{{ _('Hearing power difficulty') }}
                         </label>
                       </div>

                      </div>

                      <div class="col-md-2 levels level-2 id_difficulty_2">

                        <div class="form-radio">
                          <span>{{ form_step1.difficulty_2_degree.label }}</span>
                          {% for choice in form_step1.difficulty_2_degree %}
                            <div class="radio">
                              <label>
                              {{ choice.tag }}
                              <i class="helper"></i>{{ choice.choice_label }}
                              </label>
                            </div>
                          {% endfor %}
                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="checkbox">
                          <label>
                          {{ form_step1.difficulty_3 }}
                          <i class="helper"></i>{{ _('Movement difficulty') }}
                         </label>
                       </div>

                      </div>

                      <div class="col-md-2 levels level-3 id_difficulty_3">

                        <div class="form-radio">
                          <span>{{ form_step1.difficulty_3_degree.label }}</span>
                          {% for choice in form_step1.difficulty_3_degree %}
                            <div class="radio">
                              <label>
                              {{ choice.tag }}
                              <i class="helper"></i>{{ choice.choice_label }}
                              </label>
                            </div>
                          {% endfor %}
                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="checkbox">
                          <label>
                          {{ form_step1.difficulty_4 }}
                          <i class="helper"></i>{{ _('Memory difficulty') }}
                         </label>
                       </div>
                      </div>

                      <div class="col-md-2 levels level-4 id_difficulty_4">

                        <div class="form-radio ">
                          <span>{{ form_step1.difficulty_4_degree.label }}</span>
                          {% for choice in form_step1.difficulty_4_degree %}
                            <div class="radio">
                              <label>
                              {{ choice.tag }}
                              <i class="helper"></i>{{ choice.choice_label }}
                              </label>
                            </div>
                          {% endfor %}
                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="checkbox">
                          <label>
                          {{ form_step1.difficulty_5 }}
                          <i class="helper"></i>{{ _('Personal care') }}
                         </label>
                       </div>

                      </div>

                      <div class="col-md-2 levels level-5 id_difficulty_5">

                        <div class="form-radio ">
                          <span>{{ form_step1.difficulty_5_degree.label }}</span>
                          {% for choice in form_step1.difficulty_5_degree %}
                            <div class="radio">
                              <label>
                              {{ choice.tag }}
                              <i class="helper"></i>{{ choice.choice_label }}
                              </label>
                            </div>
                          {% endfor %}
                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="checkbox">
                          <label>
                          {{ form_step1.difficulty_6 }}
                          <i class="helper"></i>{{ _('Communincation') }}
                         </label>
                       </div>
                      </div>

                      <div class="col-md-2 levels level-6 id_difficulty_6">

                        <div class="form-radio">
                          <span>{{ form_step1.difficulty_6_degree.label }}</span>
                          {% for choice in form_step1.difficulty_6_degree %}
                            <div class="radio">
                              <label>
                              {{ choice.tag }}
                              <i class="helper"></i>{{ choice.choice_label }}
                              </label>
                            </div>
                          {% endfor %}
                        </div>
                      </div>

                      <div class="col-md-12 ">
                        <div class="form-group">

                          {{ form_step1.difficulty_7_txt }}
                          <label for="input" class="control-label attachment">{{ _('Other') }}</label>
                          <i class="bar"></i>
                        </div>
                      </div>

                      <div class="col-md-2 levels id_difficulty_7_txt">

                        <div class="form-radio">
                          <span>{{ form_step1.difficulty_7_degree.label }}</span>
                          {% for choice in form_step1.difficulty_7_degree %}
                            <div class="radio">
                              <label>
                              {{ choice.tag }}
                              <i class="helper"></i>{{ choice.choice_label }}
                              </label>
                            </div>
                          {% endfor %}
                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="form-group">

                          {{ form_step1.place_birth }}
                          <label for="input" class="control-label attachment">{{ _('Place of Birth') }}</label>
                          <i class="bar"></i>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">

                          {{ form_step1.place_stay_previous }}
                          <label for="input" class="control-label attachment">{{ _('Previous place of stay') }}</label>
                          <i class="bar"></i>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">

                          {{ form_step1.place_stay }}
                          <label for="input" class="control-label attachment">{{ _('Current place of stay') }}</label>
                          <i class="bar"></i>
                        </div>
                      </div>

                  <div class="col-md-12">
                    <div class="button-container-form">
                        <button type="submit" class="button"><span>{{ _('Save') }}</span></button>
                    </div>
                </div>
                </form>
                </fieldset>
                <!--</fieldset>-->
              </div>


{% endblock %}

{% block javascripts %}
  {{ block.super }}
<script>
  $('.levels').hide();
  $('input[type="checkbox"]').on('change', function(){
    var this_el_id = $(this).attr('id');
    $('.'+this_el_id).fadeToggle('slow','linear');
    //console.log(next_el);
  });

  $('#id_age').on('click', function(){

  });

</script>

{% endblock %}
