{% extends "base.html" %}
{% load i18n %}
{% block title %}Family Survey Form{% endblock %}
{% block stylesheets %}
  {{ block.super }}
  <style>

  label.error { float: none; color: red; margin: 0 .5em 0 0; vertical-align: top; font-size: 10px; display:block }

  .tooltip-link{
    margin-top: -18px;
    float: left;
    margin-left: -15px;
  }

  </style>
{% endblock stylesheets %}

{% block content %}
<!--        <button type='submit' onclick="location.href='/family/2'"  class="button"><span><i class="fa fas fa-users"></i> {{ _('View all members') }}</span></button>
-->
      <div class="container-form">
        {% if form_step2.errors %}
          {% for field in form_step2 %}
              {% for error in field.errors %}
                  <div class="alert alert-danger">
                      <strong>{{ error|escape }} ({% trans field.label %})</strong>
                  </div>
              {% endfor %}
          {% endfor %}
          {% for error in form_step2.non_field_errors %}
              <div class="alert alert-danger">
                  <strong>{{ error|escape }} ({% trans field.label %})</strong>
              </div>
          {% endfor %}
      {% endif %}
      <!-- User query form added by Wisal, 7/17/08 -->
        <!--<div class="row">
          <div class="col-lg-12 text-center">
            <h2>{% trans 'Add Family Member' %}</h2>
          </div>
        </div>-->
        <form action="" method="POST" id="family-survey-from">
         {% if messages %}
<div class="messages">
<ul class="messages">
{% for message in messages %}
<div  {% if message.tags == 'error' %} class="alert alert-danger" {% else %} class="alert alert-{{ message.tags }}" {% endif %}>
{% if message.tags == 'error' %}
<span class="glyphicon glyphicon-remove-sign"></span>
{% elif message.tags == 'warning' %}
<span class="glyphicon glyphicon-alert"></span>
 {% else %}
  <span class="glyphicon glyphicon-ok"></span>
{% endif %}
{{ message }}
</div>
 {% if message.tags == 'warning' and forloop.last %}
     <input class="js-warning" type="text" hidden value="warning">
<div class="button-container-form">
<button id="btn-warning" type="submit" name="post" value="post-after-warning" class="button"><span>{{ _('Save And Continue') }}</span></button>
 <!--<a href="{% url "survey:add-house" %}"> <button type="button" class="button" style="background-color: #17a2b8;"><span>{{ _('Back') }}</span></button></a>-->
</div>



 {% endif  %}
{% endfor %}
</ul>
</div>
{% endif %}
              <fieldset class="scheduler-border">
                 <legend class="scheduler-border"><i class="fas fa fa-user-plus"></i> {{ _('Add Family Member') }}</legend>

                   {% csrf_token %}
                   <!-- test field -->
                    <!-- <div class="col-md-6">
                       <div class="form-group">
                         {{ form_step2.family_member_id }}
                         <label for="first" class="control-label">{{ _('Family Member ID') }}</label>
                         <i class="bar"></i>
                       </div>
                     </div>-->
                     <!-- test field -->
                     {% if three_years_age %}
                      <div class="col-md-6">
                        <div class="form-group">
                          {{ form_step2.study_status }}
                          <label for="first" class="control-label">
                            <span class="fa-stack">
                              <strong class="fa-stack-1x">12</strong>
                            </span>
                            {{ _('Study Status') }}</label>
                          <i class="bar"></i>
                          <a href="" class="tooltip-link" data-toggle="tooltip" data-html="true" data-placement="auto"
                          title='<span class="message">اختر حالة التحاق الفرد بالتعليم والمرحلة الملتحق بها. </span>'
                          data-trigger="click"><i class="fa far fa-question-circle"></i></a>
                        </div>
                      </div>
                      {% endif %}

                      {% if ten_years_age %}
                      <!--  col-md-12   -->
                      <div class="col-md-6">
                        <div class="form-group">

                          {{ form_step2.education_status }}
                          <label for="last" class="control-label">
                            <span class="fa-stack">
                              <strong class="fa-stack-1x">13</strong>
                            </span>
                            {{ _('Education Status') }}</label>
                          <i class="bar"></i>
                          <a href="" class="tooltip-link" data-toggle="tooltip" data-html="true" data-placement="auto"
                          title='<span class="message">اختر الحالة التعليمية للفرد أو اسم أعلى شهادة أو أعلى مؤهل حصل عليه. </span>'
                          data-trigger="click"><i class="fa far fa-question-circle"></i></a>
                        </div>
                      </div>

                      <!--  col-md-12   -->
                      <fieldset class="scheduler-border" id="study-field-fieldset">
                        <legend class="scheduler-border">
                          <span class="fa-stack">
                            <strong class="fa-stack-1x">14</strong>
                          </span>
                          {{ _('Study Field') }}
                          <a href="" class="tooltip-legend" data-toggle="tooltip" data-html="true" data-placement="auto"
                          title='<span class="message"> اختر في هذا الحقل مجال الدراسة أو نوع التحصيل العلمي الذي حصل عليه الفرد  (لمن كانت حالته التعليمية ثانوية فاعلى )مثل الطب، الهندسة، الزراعة، الاقتصاد، العلوم الإدارة ويجب توضيح المجال بالتحديد مثل طب بشري أو طب أسنان... وهكذا. </span>'
                          data-trigger="click"><i class="fa far fa-question-circle"></i></a>
                        </legend>
                          <div class="col-md-6" id="study-field-parent">
                            <div class="form-group">

                              {{ form_step2.study_field_parent }}
                              <!--<label for="input" class="control-label"></label>-->
                              <i class="bar"></i>
                            </div>
                          </div>
                          <!--  col-md-12   -->

                          <div class="col-md-6" id="study-field-child">
                            <div class="form-group">

                              {{ form_step2.study_field }}
                              <!--<label for="input" class="control-label">{{ _('Study Field') }}</label>-->
                              <i class="bar"></i>

                            </div>
                          </div>
                      </fieldset>
                      {% endif %}
                      {% if greater_age %}
                      <!--  col-md-12   -->
                      <div class="col-md-6">
                        <div class="form-group">

                          {{ form_step2.marital_status }}
                          <label for="input" class="control-label">
                            <span class="fa-stack">
                              <strong class="fa-stack-1x">15</strong>
                            </span>
                            {{ _('Marital Status') }}</label>
                          <i class="bar"></i>
                          <a href="" class="tooltip-link" data-toggle="tooltip" data-html="true" data-placement="auto"
                          title='<span class="message">اختر إحدى الحالات في القائمة التي تمثل حالة الفرد الزواجية. </span>'
                          data-trigger="click"><i class="fa far fa-question-circle"></i></a>
                        </div>
                      </div>
                      <!--  col-md-12   -->
                      <fieldset class="scheduler-border counts-fieldset">
                        <legend class="scheduler-border">
                          <span class="fa-stack">
                            <strong class="fa-stack-1x">16</strong>
                          </span>
                          {{ _('Births over the past 12 months') }}
                        <a href="" class="tooltip-legend" data-toggle="tooltip" data-html="true" data-placement="auto"
                        title='<span class="message">(خاص بالإناث من أعمار 15 سنة فأكثر، المتزوجات والمطلقات والأرامل)اختر في هذا الحقل وفي المربع الأيمن المواليد الذكور الذين ولدوا أحياء، وفي المربع الأيسر المواليد الإناث اللائي ولدن أحياء، وذلك لكل أنثى من أفراد الأسرة متزوجة أو سبق لها الزواج (مطلقة كانت أو أرملة) وأنجبت مولودا خلال الاثني عشر شهرا السابقة علما أنه ليس شرطا أن يكون هؤلاء المواليد يعيشون ضمن هذه الأسرة أو على قيد الحياة حاليا أما النساء المتزوجات أو المطلقات أو الأرامل اللائي لم ينجبن خلال هذه الفترة فيتم وضع (صفر).</span>'
                        data-trigger="click"><i class="fa far fa-question-circle"></i></a></legend>

                        <div class="col-md-3" id="males-count">
                          <div class="form-group">

                            {{ form_step2.males_count }}
                            <label for="input" class="control-label">{{ _('Males Count') }}</label>
                            <i class="bar"></i>
                            </div>
                        </div>
                        <!--  col-md-12   -->
                        <div class="col-md-3" id="females-count">
                          <div class="form-group">

                            {{ form_step2.females_count }}
                            <label for="input" class="control-label">{{ _('Females Count') }}</label>
                            <i class="bar"></i>
                            </div>
                        </div>
                      </fieldset>
                      <!--  col-md-12   -->
                      <div class="col-md-6">
                        <div class="form-group">
                          {{ form_step2.labor_status }}
                          <label for="input" class="control-label">
                            <span class="fa-stack">
                              <strong class="fa-stack-1x">17</strong>
                            </span>
                            {{ _('Labour Status') }}</label>
                          <i class="bar"></i>
                          <a href="" class="tooltip-link" data-toggle="tooltip" data-html="true" data-placement="auto"
                          title='<span class="message">اختر إحدى الحالات في القائمة حسب الحالة العملية للفرد.</span>'
                          data-trigger="click"><i class="fa far fa-question-circle"></i></a>
                        </div>
                      </div>
                      <!--  col-md-12   -->
                      <div class="col-md-6" id="labor_status_txt">
                        <div class="form-group">
                          {{ form_step2.labor_status_txt }}
                          <label for="input" class="control-label">{{ _('Labour Status (Other)') }}</label>
                          <i class="bar"></i>

                        </div>
                      </div>
                      <fieldset class="scheduler-border">
                        <legend class="scheduler-border">
                          <span class="fa-stack">
                            <strong class="fa-stack-1x">18</strong>
                          </span>
                          {{ _('Main Job') }} <a href="" class="tooltip-legend" data-toggle="tooltip" data-html="true" data-placement="auto"
                          title='<span class="message">اختر في هذا الحقل لمن كانت حالته العملية في حقل (17) أحدى الحالات التالية: مشتغل بأجر أو بدون أجر، صاحب عمل يوظف،  يعمل لحسابه (لا يوظف)،  يبحث عن عمل وسبق له العمل ويقصد بالمهنة الرئيسة نوع العمل الرئيس الذي يقوم به الفرد بصرف النظر عن نوع العمل الذي تقوم به الجهة التي يعمل بها.</span>'
                          data-trigger="click"><i class="fa far fa-question-circle"></i></a>
                        </legend>
                        <div class="col-md-6" id="main-job-parent">
                          <div class="form-group">

                            {{ form_step2.main_job_parent }}
                            <i class="bar"></i>
                          </div>
                        </div>
                        <div class="col-md-6" id="main-job-child">
                          <div class="form-group">

                            {{ form_step2.main_job }}

                            <i class="bar"></i>
                          </div>
                        </div>
                      </fieldset>
                      <fieldset class="scheduler-border">
                        <legend class="scheduler-border">
                          <span class="fa-stack">
                            <strong class="fa-stack-1x">19</strong>
                          </span>
                          {{ _('Economic Activity') }} <a href="" class="tooltip-legend" data-toggle="tooltip" data-html="true" data-placement="auto"
                          title='<span class="message">سجل  نوع العمل الرئيس الذي تزاوله أو تمارسه المنشأة أو الجهة التي يعمل بها الفرد بغض النظر عن المهنة التي يزاولها هذا الفرد في هذه المنشأة أو الجهة وإذا كان للجهة التي يعمل بها الفرد أكثر من نشاط اقتصادي يكتب النشاط الغالب لهذه الجهة.</span>'
                          data-trigger="click"><i class="fa far fa-question-circle"></i></a>
                        </legend>
                        <div class="col-md-12 parent" id="economic-activity-parent" >
                          <div class="form-group">

                            {{ form_step2.economic_activity_parent }}
                            <label for="input" class="control-label"></label>
                            <i class="bar"></i>
                          </div>
                        </div>
                        <div class="col-md-12 child" id="economic-activity-child" >
                          <div class="form-group">

                            {{ form_step2.economic_activity }}
                            <label for="input" class="control-label"></label>
                            <i class="bar"></i>
                          </div>
                        </div>
                      </fieldset>

                      <div class="col-md-6">
                        <div class="form-group">

                          {{ form_step2.work_sector_type }}
                          <label for="input" class="control-label attachment">
                            <span class="fa-stack">
                              <strong class="fa-stack-1x">20</strong>
                            </span>
                            {{ _('Work Sector Type') }}</label>
                          <i class="bar"></i>
                          <a href="" class="tooltip-link" data-toggle="tooltip" data-html="true" data-placement="auto"
                          title='<span class="message">اختر  قطاع الجهة التي يمارس فيها الفرد المشتغل مهنته من خلال القائمة المنسدلة.</span>'
                          data-trigger="click"><i class="fa far fa-question-circle"></i></a>
                        </div>
                      </div>

                      <div class="col-md-6" id="work_sector_type_txt">
                        <div class="form-group">

                          {{ form_step2.work_sector_type_txt }}
                          <label for="input" class="control-label attachment">{{ _('Work Sector Type (Other)') }}</label>
                          <i class="bar"></i>
                        </div>
                      </div>
                      {% endif %}
                    </fieldset>



                    <div class="button-container-form">
                        <button type="submit" class="button"><span>{{ _('Save') }} <i class="fa fa-check-circle"></i> </span></button>
                      <a href="{% url "survey:edit-family-member" fm_id %}"> <button type="button" class="button" style="background-color: #17a2b8;"><span>{{ _('Back') }} <i class="fa fa-arrow-circle-left"></i></span></button></a>

                    </div>

                </form>

                <!--</fieldset>-->
              </div>


{% endblock %}

{% block javascripts %}
  {{ block.super }}
<script>
$('[data-toggle="tooltip"]').tooltip();
$('.tooltip-link').on('click', function(){
  return false;
});

  $('#study-field-fieldset').hide();
  //$('#study-field-child').hide();

  $('#id_education_status').on('change', function(){
      var study_field_id = $(this).val();
      if( study_field_id >= 10500005 && study_field_id <= 10500012 )
      {
        $('#study-field-fieldset').show();
        $("#study-field-child select").attr('required', true);
        $('#study-field-parent select').attr('required', true);
      }
      else{
        $('#study-field-fieldset').hide();
        $("#study-field-child select").attr('required', false);
        $("#study-field-child select option:selected").prop("selected", false);
        $("#id_study_field_parent").attr('required', false);
        $("#id_study_field_parent option:selected").prop("selected", false);
        //$('#study-field-child').hide();
      }
  });
  $('#study-field-parent select').on('change', function(){
    var study_field_parent_id = $(this).val();
    //console.log(study_field_parent_id);
    $.ajax({                       // initialize an AJAX request
        url: '/ajax/options/',                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'lookup_list_id': study_field_parent_id,
          'lookup_id': 10       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          //$('#study-field-child').show();
          $("#study-field-child select").html(data);  // replace the contents of the city input with the data that came from the server
          $("#study-field-child select").attr('required', true);
        }
      });

  });
  $('#id_education_status').trigger('change');

  // hide males count and females count fields initially
  $('.counts-fieldset').hide();
  $('#males-count').hide();
  $('#females-count').hide();
  var female_fields = "{{ female_fields }}";

  $('#id_marital_status').on('change', function(){
    var martial_status_val = $(this).val();
    if( (martial_status_val == 10600003 || martial_status_val == 10600004 || martial_status_val == 10600002) && female_fields == 'True' )    {
      $('.counts-fieldset').show();
      $('#males-count').show();
      $('#females-count').show();
      $('#males-count .form-group input').attr('required', true);
      $('#females-count .form-group input').attr('required', true);
    }
    else{
      $('.counts-fieldset').hide();
      $('#males-count').hide();
      $('#females-count').hide();
      $('#males-count .form-group input').val("");
      $('#females-count .form-group input').val("");

      $('#males-count .form-group input').attr('required', false);
      $('#females-count .form-group input').attr('required', false);
    }
  });
  $('#id_marital_status').trigger('change');

  // hide labour status extra text field and show only when other option is selected in labour status field
  $('#labor_status_txt').hide();
  $('#id_labor_status').on('change', function(){
      var labour_status_code = $(this).val();
      if (labour_status_code == 2400011){
        $('#labor_status_txt').show();
        $('#labor_status_txt .form-group input').attr('required', true);
      }
      else{
        $('#labor_status_txt').hide();
        $('#labor_status_txt .form-group input').attr('required', false);
        $('#labor_status_txt .form-group input').val("");
      }
  });
  $('#id_labor_status').trigger('change');

  // ajax for main job status dependent fields
  //$('#main-job-child').hide();
  $('#main-job-parent select').on('change', function(){
    var main_job_parent_id = $(this).val();
    //console.log(study_field_parent_id);
    $.ajax({                       // initialize an AJAX request
        url: '/ajax/options/',                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'lookup_list_id': main_job_parent_id,
          'lookup_id': 23       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          //$('#main-job-child').show();
          $("#main-job-child select").html(data);  // replace the contents of the city input with the data that came from the server
          //$("#main-job-child select").attr('required', true);
        }
      });

  });

  $('#id_labor_status').trigger('change');

  // ajax for main job status dependent fields
  //$('#main-job-child').hide();
$('#economic-activity-parent select').on('change', function(){

    var parent_id = $(this).val();
    var lookup_id = $(this).data('child-lookup-id');

    $.ajax({                       // initialize an AJAX request
        url: '/ajax/options/',                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'lookup_list_id': parent_id,
          'lookup_id': lookup_id       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          //$('#main-job-child').show();

          $("#economic-activity-child select").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

  });
  $('#work_sector_type_txt').hide();
  $('#id_work_sector_type').on('change', function(){
    var work_sector_type_id = $(this).val();
    if (work_sector_type_id == 2600006)
    {
      $('#work_sector_type_txt').show();
      $('#work_sector_type_txt .form-group input').attr('required', true);
    }
    else{
      $('#work_sector_type_txt').hide();
      $('#work_sector_type_txt .form-group input').attr('required', false);
      $('#work_sector_type_txt .form-group input').val("");

    }
  });
  $('#id_work_sector_type').trigger('change');
</script>
{% endblock %}
