{% extends "base.html" %}
{% load i18n %}
{% block title %}Family Survey Form{% endblock %}
{% block stylesheets %}
  {{ block.super }}
  <style>
.form-group input:disabled ~ .control-label ,
.form-group input:read-only ~ .control-label{
font-size: 0.8rem !important;
color: gray !important;
top: -1rem !important;
right: 0 !important;
}
.form-group input:disabled{color: #000 !important;}

  label.error { float: none; color: red; margin: 0 .5em 0 0; vertical-align: top; font-size: 10px; display:block }
  </style>
{% endblock stylesheets %}

{% block content %}

      <div class="container-form">
        {% if form_step1.errors %}
          {% for field in form_step1 %}
              {% for error in field.errors %}
                  <div class="alert alert-danger">
                      <strong>{{ error|escape }}</strong>
                  </div>
              {% endfor %}
          {% endfor %}
          {% for error in form_step1.non_field_errors %}
              <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
              </div>
          {% endfor %}
      {% endif %}
      <!-- User query form added by Wisal, 7/17/08 -->
        <!--<div class="row">
          <div class="col-lg-12 text-center">
            <h2>{% trans 'Add Family Member' %}</h2>
          </div>
        </div>-->
        <form action="" method="POST" id="family-survey-from">
         {% if messages %}
<div class="messages">
<ul class="messages">
{% for message in messages %}
<div  {% if message.tags == 'error' %} class="alert alert-danger" {% else %} class="alert alert-{{ message.tags }}" {% endif %}>
{% if message.tags == 'error' %}
<span class="glyphicon glyphicon-remove-sign"></span>
{% elif message.tags == 'warning' %}
<span class="glyphicon glyphicon-alert"></span>
 {% else %}
  <span class="glyphicon glyphicon-ok"></span>
{% endif %}
{{ message }}
</div>
 {% if message.tags == 'warning' and forloop.last %}
     <input class="js-warning" type="text" hidden value="warning">
<div class="button-container-form">
<button id="btn-warning" type="submit" name="post" value="post-after-warning" class="button"><span>{{ _('Save And Continue') }}</span></button>
 <a href="{% url "survey:edit-family-member" mem_obj.f_m_id %}"> <button type="button" class="button" style="background-color: #17a2b8;"><span>{{ _('Back') }}</span></button></a>
</div>



 {% endif  %}
{% endfor %}
</ul>
</div>
{% endif %}
              <fieldset class="scheduler-border">
                 <legend class="scheduler-border"><i class="fas fa fa-user-plus"></i> {{ _('Add Family Member') }}</legend>

                   {% csrf_token %}
<div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          {{ form_step1.member_name_first }}
                          <label for="first" class="control-label">{{ _('First Name') }}</label>
                          <i class="bar"></i>
                        </div>
                      </div>
                      <!--  col-md-12   -->
                      <div class="col-md-4">
                        <div class="form-group">
                          {{ form_step1.member_name_second }}
                          <label for="last" class="control-label">{{ _('Second Name') }}</label>
                          <i class="bar"></i>
                        </div>
                      </div>
                      <!--  col-md-12   -->
                      <div class="col-md-4">
                        <div class="form-group">
                          {{ form_step1.member_name_third }}
                          <label for="input" class="control-label">{{ _('Third Name') }}</label>
                          <i class="bar"></i>
                        </div>
                      </div>
</div>
                      <!--  col-md-12   -->
                  <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          {{ form_step1.id_number_member }}
                          <label for="input" class="control-label">{{ _('No. (National Identity / Residence / Visitor Limit) per person') }}</label>
                          <i class="bar"></i>
                        </div>
                      </div>
                      <!--  col-md-12   -->
                      <div class="col-md-4">
                        <div class="form-group">
                          {{ form_step1.family_relation }}
                          <label for="input" class="control-label">{{ _('Relation') }}</label>
                          <i class="bar"></i>
                          </div>
                      </div>
                      <!--  col-md-12   -->
                      <div class="col-md-4">
                        <div class="form-group">
                          {{ form_step1.gender }}
                          <label for="input" class="control-label">{{ _('Gender') }}</label>
                          <i class="bar"></i>
                          </div>
                      </div>
              </div>
                      <!--  col-md-12   -->
              <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">

                          {{ form_step1.age }}
                          <label for="input" class="control-label">{{ _('Age') }}</label>
                          <i class="bar"></i>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="form-group">
                          {{ form_step1.birth_year }}
                          <label for="input" class="control-label attachment">{{ _('Birth Year') }}</label>
                          <i class="bar"></i>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="form-group">
                          {{ form_step1.nationality }}
                          <label for="input" class="control-label attachment">{{ _('Nationality') }}</label>
                          <i class="bar"></i>
                        </div>
                      </div>
</div>
                      <div class="col-lg-12">
                    <fieldset class="scheduler-border">
                        <legend  class="scheduler-border"><i class="fa fa-wheelchair" style="font-size:24px;"></i> {{ _('Difficulty type') }}</legend>
                      <div class="error" id="form_error"></div>
                      <div class="col-md-12">
                        <div class="checkbox require-one">
                          <label>
                          {{ form_step1.difficulty_1 }}
                          <i class="helper"></i>{{ _('Eyesight difficulty') }}
                         </label>
                       </div>
                      </div>

                      <div class="col-lg-12 levels level-1 id_difficulty_1">
                        <span>{{ form_step1.difficulty_1_degree.label }}</span>
                        <div class="form-radio">

                          {% for choice in form_step1.difficulty_1_degree %}
                          <div class="col-lg-4">
                            <div class="radio">
                              <label>
                              {{ choice.tag }}
                              <i class="helper"></i>{{ choice.choice_label }}
                              </label>
                            </div>
                          </div>
                          {% endfor %}
                        </div>
                      </div>

                      <div class="col-md-12 require-one">
                        <div class="checkbox">
                          <label>
                          {{ form_step1.difficulty_2 }}
                          <i class="helper"></i>{{ _('Hearing power difficulty') }}
                         </label>
                       </div>

                      </div>

                      <div class="col-lg-12 levels level-2 id_difficulty_2">
                        <span>{{ form_step1.difficulty_2_degree.label }}</span>

                        <div class="form-radio">

                          {% for choice in form_step1.difficulty_2_degree %}
                          <div class="col-lg-4">
                            <div class="radio">
                              <label>
                              {{ choice.tag }}
                              <i class="helper"></i>{{ choice.choice_label }}
                              </label>
                            </div>
                          </div>
                          {% endfor %}
                        </div>
                      </div>

                      <div class="col-md-12 require-one">
                        <div class="checkbox">
                          <label>
                          {{ form_step1.difficulty_3 }}
                          <i class="helper"></i>{{ _('Movement difficulty') }}
                         </label>
                       </div>

                      </div>

                      <div class="col-lg-12 levels level-3 id_difficulty_3">
                        <span>{{ form_step1.difficulty_3_degree.label }}</span>
                        <div class="form-radio">
                          {% for choice in form_step1.difficulty_3_degree %}
                            <div class="col-lg-4">
                              <div class="radio">
                                <label>
                                {{ choice.tag }}
                                <i class="helper"></i>{{ choice.choice_label }}
                                </label>
                              </div>
                            </div>
                          {% endfor %}
                        </div>
                      </div>

                      <div class="col-md-12 require-one">
                        <div class="checkbox">
                          <label>
                          {{ form_step1.difficulty_4 }}
                          <i class="helper"></i>{{ _('Memory difficulty') }}
                         </label>
                       </div>
                      </div>

                      <div class="col-lg-12 levels level-4 id_difficulty_4">
                        <span>{{ form_step1.difficulty_4_degree.label }}</span>

                        <div class="form-radio ">
                          {% for choice in form_step1.difficulty_4_degree %}
                          <div class="col-lg-4">
                            <div class="radio">
                              <label>
                              {{ choice.tag }}
                              <i class="helper"></i>{{ choice.choice_label }}
                              </label>
                            </div>
                          </div>
                          {% endfor %}
                        </div>
                      </div>

                      <div class="col-md-12 require-one">
                        <div class="checkbox">
                          <label>
                          {{ form_step1.difficulty_5 }}
                          <i class="helper"></i>{{ _('Personal care') }}
                         </label>
                       </div>

                      </div>

                      <div class="col-lg-12 levels level-5 id_difficulty_5">
                        <span>{{ form_step1.difficulty_5_degree.label }}</span>

                        <div class="form-radio ">
                          {% for choice in form_step1.difficulty_5_degree %}
                          <div class="col-lg-4">
                            <div class="radio">
                              <label>
                              {{ choice.tag }}
                              <i class="helper"></i>{{ choice.choice_label }}
                              </label>
                            </div>
                          </div>
                          {% endfor %}
                        </div>
                      </div>

                      <div class="col-md-12 require-one">
                        <div class="checkbox">
                          <label>
                          {{ form_step1.difficulty_6 }}
                          <i class="helper"></i>{{ _('Communincation') }}
                         </label>
                       </div>
                      </div>

                      <div class="col-lg-12 levels level-6 id_difficulty_6">
                        <span>{{ form_step1.difficulty_6_degree.label }}</span>

                        <div class="form-radio">
                          {% for choice in form_step1.difficulty_6_degree %}
                            <div class="col-lg-4">
                              <div class="radio">
                                <label>
                                {{ choice.tag }}
                                <i class="helper"></i>{{ choice.choice_label }}
                                </label>
                              </div>
                            </div>
                          {% endfor %}
                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="checkbox">
                          <label>
                          {{ form_step1.difficulty_other }}
                          <i class="helper"></i>{{ _('Other') }}
                         </label>
                       </div>

                      </div>

                      <div class="col-md-12 levels id_difficulty_other">
                        <div class="form-group">

                          {{ form_step1.difficulty_7_txt }}
                          <label for="input" class="control-label attachment">{{ _('Type of difficulty') }}</label>
                          <i class="bar"></i>
                        </div>
                      </div>

                      <div class="col-lg-12 levels id_difficulty_other">
                        <span>{{ form_step1.difficulty_7_degree.label }}</span>
                        <div class="form-radio">

                          {% for choice in form_step1.difficulty_7_degree %}
                          <div class="col-lg-4">
                            <div class="radio">
                              <label>
                              {{ choice.tag }}
                              <i class="helper"></i>{{ choice.choice_label }}
                              </label>
                            </div>
                          </div>
                          {% endfor %}
                        </div>
                      </div>

                      <div class="col-md-12 require-one">
                        <div class="checkbox">
                          <label>
                          {{ form_step1.difficulty_8 }}
                          <i class="helper"></i>{{ _('Not Found') }}
                         </label>
                       </div>
                      </div>
                    </fieldset>
                  </div>
                      <div  id="resi-info">

                        <fieldset class="scheduler-border">
                          <legend class="scheduler-border">
                            {{ _('Place of Birth') }}
                          </legend>
                          <div class="col-md-4">
                            <div class="form-group">
                              {{ form_step1.in_or_out_birth }}
                              <i class="bar"></i>
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group birth-place">

                              {{ form_step1.place_birth }}
                              <label for="input" class="control-label attachment">{{ _('Place of Birth') }}</label>
                              <i class="bar"></i>
                            </div>
                          </div>
                        </fieldset>

                        <fieldset class="scheduler-border">
                          <legend class="scheduler-border">
                            {{ _('Details of current stay') }}
                          </legend>
                            <div class="col-md-4">
                              <div class="form-group">
                                {{ form_step1.in_or_out_prev_stay }}
                                <i class="bar"></i>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group residance">

                                {{ form_step1.place_stay_previous }}
                                <label for="input" class="control-label attachment">{{ _('Previous place of stay') }}</label>
                                <i class="bar"></i>
                              </div>
                            </div>
                        </fieldset>

                        <div class="col-md-4">
                          <div class="form-group">

                            {{ form_step1.place_stay }}
                            <label for="input" class="control-label attachment">{{ _('Current place of stay') }}</label>
                            <i class="bar"></i>
                          </div>
                        </div>

                    </div>
                  </fieldset>

                    <div class="button-container-form">
                        <button id="btn-submit" type="submit" class="button"><span>{{ _('Save') }} <i class="fa fa-check-circle"></i> </span></button>
                                                 <a href="{% url "survey:home" %}"> <button type="button" class="button" style="background-color: #17a2b8;"><span>{{ _('Back') }} <i class="fa fa-arrow-circle-left"></i></span></button></a>

                    </div>

                </form>

                <!--</fieldset>-->
              </div>


{% endblock content %}

{% block javascripts %}
  {{ block.super }}
<script src="/static/build/js/plugins/moment-with-locales.min.js"></script>
<script src="/static/build/js/plugins/moment-hijri.js"></script>
<script>

// warning action
$(document).ready(function() {
    var warning = $('.js-warning').val();
    if (warning != null) {
        console.log('warning javascript')
        $("#btn-submit").hide();
        $("#family-survey-from select , #family-survey-from input[type=checkbox]").each(function () {
            $(this).prop('disabled', true);
        });
        $("#family-survey-from input").each(function () {
            $(this).prop('readonly', true);
        });
    }
    $("#btn-warning").click(function () {
        $("#family-survey-from input, #family-survey-from select, #family-survey-from input[type=checkbox]").each(function () {
            $(this).prop('disabled', false);
        });
    });
});

// hide all required sections initially
  $('.levels').hide();
  $('#resi-info').hide();
  $('#id_difficulty_8').prop('checked', true);
  $('#id_difficulty_8').attr('required', true);


// hide or unhide residance info fields based on nationality
  $('#id_nationality').on('change', function(){
    var nationality_code = $(this).val();
    if (nationality_code == 1800001) {
      $('#resi-info').slideDown('slow','linear');
      //$('#id_in_or_out').attr('required', true);
      $('#id_in_or_out_birth').attr('required', true);
      $('#id_place_birth').attr('required', true);
      $('#id_in_or_out_prev_stay').attr('required', true);
      $('#id_place_stay_previous').attr('required', true);
      $('#id_place_stay').attr('required', true);
    }
    else{
      $('#resi-info').slideUp();
      $('#id_in_or_out_birth').attr('required', false);
      $('#id_place_birth').attr('required', false);
      $('#id_in_or_out_prev_stay').attr('required', false);
      $('#id_place_stay_previous').attr('required', false);
      $('#id_place_stay').attr('required', false);
    }
  });
  $('#id_nationality').trigger('change');
$(window).load(function(){
  $('#family-survey-from input[type="checkbox"]:checked').not('#id_difficulty_8').each(function(){

      var parent_el_id = $(this).attr('id');
      $('.'+parent_el_id).slideDown('slow');
      $('#id_difficulty_8').attr('required', false);
      $('#id_difficulty_8').prop('checked', false);
  });
});


// enable toggle on all checkboxes when single field is used
  $('input[type="checkbox"]').not('#id_difficulty_8').on('change', function(){

    var this_el_id = $(this).attr('id');
    $('.'+this_el_id).slideToggle('slow','linear');

    if($(this).is(':checked')){
      $('.'+this_el_id+ ' .form-radio .radio input[type="radio"]').attr('required', true);
      $('.'+this_el_id+ ' .form-group input[type="text"]').attr('required', true);
    }
    else{
      $('.'+this_el_id+ ' .form-radio .radio input[type="radio"]').attr('required', false);
      $('.'+this_el_id+ ' .form-radio .radio input[type="radio"]').attr('checked', false);
      $('.'+this_el_id+ ' .form-group input[type="text"]').attr('required', false);
      $('.'+this_el_id+ ' .form-group input[type="text"]').val("");
    }


    if ( $('#'+this_el_id).is(':checked') )
    {
      $('#id_difficulty_8').prop('checked', false);
      $('#id_difficulty_8').attr('required', false);
    }
    else
    {
      $('#id_difficulty_8').prop('checked', true);
      $('#id_difficulty_8').attr('required', true);
    }

// control not found option when one or more checkboxes are selected.
    $('input[type="checkbox"]').not('#id_difficulty_8').each(function(){

      if($(this).is(':checked')){
          $('#id_difficulty_8').prop('checked', false);
          $('#id_difficulty_8').attr('required', false);
        }
    });

    //console.log(next_el);
  });

// control all checkboxes, radios and textfields when not found option is selected.
    $('#id_difficulty_8').on('change', function(){

      if($(this).is(':checked')){

        $('input[type="checkbox"]').not('#id_difficulty_8').each(function(){
          var parent_el_id = $(this).attr('id');
          $(this).prop('checked', false);
          $(this).attr('required', false);
          $('.'+parent_el_id+ ' .form-radio .radio input[type="radio"]').attr('required', false);
          $('.'+parent_el_id+ ' .form-radio .radio input[type="radio"]').attr('checked', false);
          $('.'+parent_el_id+ ' .form-group input[type="text"]').attr('required', false);
          $('.'+parent_el_id+ ' .form-group input[type="text"]').val("");
          $('.'+$(this).attr('id')).slideUp('slow');
        });
      }
      else{
        $('#id_difficulty_8').attr('required', true);
      }
    });
// Auto age year calculate usin moment.js plugin included in base.html
  moment.locale('en-US');
  m = moment();
  $('#id_age').on('change', function(){
    var dob_year = moment().subtract($(this).val(), 'years').calendar();
    var year = dob_year.split("/");
    var myear = year[2];
    //console.log(dob_year);
    var hyear = moment(myear, 'YYYY').endOf('iMonth').format('iYYYY');
    $('#id_birth_year').val("");
    $('#id_birth_year').val(hyear);
  });

  $('#id_birth_year').on('change', function(){
    var year = $(this).val();
    var age = "";
    if(year > 1500)
    {
      current_year = m.format('YYYY');
       age = (current_year - year);
    }
    else if(year < 1500)
    {
      current_year = m.format('iYYYY');
      age = (current_year - year) - 1;
    }
    $('#id_age').val("");
    $('#id_age').val(age);
  });

$('#id_in_or_out_birth').on('change', function(){
  var selected_id = $(this).val();

  var lookup_id;
  if (selected_id == 2){
    lookup_id = 18;
  }
  else{
    lookup_id = 27;
  }

  $.ajax({                       // initialize an AJAX request
      url: '/ajax/options/',                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
      data: {
        'lookup_id': lookup_id       // add the country id to the GET parameters
      },
      success: function (data) {   // `data` is the return of the `load_cities` view function
        //$('#main-job-child').show();
        $(".birth-place select").html(data);  // replace the contents of the city input with the data that came from the server

      }
    });
});
$('#id_in_or_out_prev_stay').on('change', function(){
  var selected_id = $(this).val();

  var lookup_id;
  if (selected_id == 2){
    lookup_id = 18;
  }
  else{
    lookup_id = 27;
  }

  $.ajax({                       // initialize an AJAX request
      url: '/ajax/options/',                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
      data: {
        'lookup_id': lookup_id       // add the country id to the GET parameters
      },
      success: function (data) {   // `data` is the return of the `load_cities` view function
        //$('#main-job-child').show();
        $(".residance select").html(data);  // replace the contents of the city input with the data that came from the server

      }
    });
});
//$('#id_in_or_out').trigger('change');

// Age check on edit form in step1
//var age = {{ mem_obj.age }}

var age = $('input[name=age]').val();
var gender = $('select[name=gender]').val();
//var member_id = {{ mem_obj.f_m_id }};
if( age > 0 ) {
$('input[name=age]').keyup(age_check);

  function age_check(){

        $("input[name=age]").popover({
            trigger: 'manual',
            html:'true',
            content: "<div class='alert alert-warning'>"
              +"<i class='fa fas fa-exclamation-triangle'></i> تنبيه! التغير فى العمر قد يترتب عليه تغير بعض القيم المدخلة سابقاً"
              +"</div>",
            placement : 'top'
        });
        $("input[name=age]").popover('show');
        $('input[name=age]').parent().addClass( "has-error has-warning has-feedback" );

  }
  $('input[name=age]').on('focusout', function(){
    $(this).popover('hide');
  });

  }

if(gender > 0){

  $('select[name=gender]').on('change', gender_check);

    function gender_check(){

          $("select[name=gender]").popover({
              trigger: 'manual',
              html:'true',
              content: "<div class='alert alert-warning'>"
                +"<i class='fa fas fa-exclamation-triangle'></i> تنبيه! التغير فى العمر قد يترتب عليه تغير بعض القيم المدخلة سابقاً"
                +"</div>",
              placement : 'top'
          });
          $("select[name=gender]").popover('show');
          $('select[name=gender]').parent().addClass( "has-error has-warning has-feedback" );

    }
    $('select[name=gender]').on('focusout', function(){
        $(this).popover('hide');
    });
}

</script>

{% endblock %}
