{% extends "base.html" %}
{% load i18n %}
{% block title %}Family Survey Form{% endblock %}
{% block stylesheets %}
  {{ block.super }}
  <style>
.form-group input:disabled ~ .control-label ,
.form-group input:read-only ~ .control-label{
font-size: 0.8rem !important;
color: gray !important;
top: -1rem !important;
right: 0 !important;
}
.form-group input:disabled{color: #000 !important;}

  label.error { float: none; color: red; margin: 0 .5em 0 0; vertical-align: top; font-size: 10px; display:block }

.tooltip-link{
  margin-top: -18px;
  float: left;
  margin-left: -15px;
}
.calendars-popup{
z-index:222222 !important;
}
span.loader img {
    width: 60px;
}
  </style>
{% endblock stylesheets %}

{% block content %}

      <div class="container-form">
        {% if form_step1.errors %}
          {% for field in form_step1 %}
              {% for error in field.errors %}
                  <div class="alert alert-danger">
                      <strong>{{ error|escape }}</strong>
                  </div>
              {% endfor %}
          {% endfor %}
          {% for error in form_step1.non_field_errors %}
              <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
              </div>
          {% endfor %}
      {% endif %}
      <!-- User query form added by Wisal, 7/17/08 -->
        <!--<div class="row">
          <div class="col-lg-12 text-center">
            <h2>{% trans 'Add Family Member' %}</h2>
          </div>
        </div>-->
        <form action="" method="POST" id="family-survey-from">
         {% if messages %}
<div class="messages">
<ul class="messages">
{% for message in messages %}
<div  {% if message.tags == 'error' %} class="alert alert-danger" {% else %} class="alert alert-{{ message.tags }}" {% endif %}>
{% if message.tags == 'error' %}
<span class="glyphicon glyphicon-remove-sign"></span>
{% elif message.tags == 'warning' %}
<span class="glyphicon glyphicon-alert"></span>
 {% else %}
  <span class="glyphicon glyphicon-ok"></span>
{% endif %}
{{ message }}
</div>
 {% if message.tags == 'warning' and forloop.last %}
     <input class="js-warning" type="text" hidden value="warning">
<div class="button-container-form">
<button id="btn-warning" type="submit" name="post" value="post-after-warning" class="button"><span>{{ _('Save And Continue') }}</span></button>
 <a href="{% url "survey:edit-family-member" 59080008 %}"> <button type="button" class="button" style="background-color: #17a2b8;"><span>{{ _('Back') }}</span></button></a>
</div>



 {% endif  %}
{% endfor %}
</ul>
</div>
{% endif %}
              <fieldset class="scheduler-border">
                 <legend class="scheduler-border"><i class="fas fa fa-user-plus"></i> {{ _('Add Family Member') }}</legend>
                 <h1 class='text-center'>
                  {% if action != 'edit' %}
                    {{ _('Member')}}#  {{ request.session.member_order_count }}
                  {% endif %}
                </h1>
                {% if request.session.nationality  == 15900001 %}
                <div class="button-container-form">
                  <button id="btn-submit" type="button" class="button" data-toggle="modal" data-target="#dataModal">
                    <span>{{ _('Load from National Information Center')}} <i class="fa fas fa-download" aria-hidden="true"></i></span>
                  </button>
                </div>

                {% endif %}
                   {% csrf_token %}
                   <fieldset class="scheduler-border">
                      <legend class="scheduler-border">
                        <span class="fa-stack">
                          <strong class="fa-stack-1x">2</strong>
                        </span>
                        <i class="fas fa fa-user"></i> {{ _('Members triple Name') }}
                        <a href="" class="tooltip-legend" data-toggle="tooltip" data-html="true" data-placement="auto"
                        title='<span class="message">سجل أسماء جميع أفراد الأسرة ثلاثيا، وترتيبهم حسب  درجة القرابة برئيس الأسرة  وبالنسبة للعمالة المنزلية يتم تسجيلهم في الأخير</span>'
                        data-trigger="click"><i class="fa far fa-question-circle"></i></a>
                      </legend>
                        <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          {{ form_step1.member_name_first }}
                          <label for="first" class="control-label">{{ _('First Name') }}</label>
                          <i class="bar"></i>

                        </div>
                      </div>
                      <!--  col-md-12   -->
                      <div class="col-md-4">
                        <div class="form-group">
                          {{ form_step1.member_name_second }}
                          <label for="last" class="control-label">{{ _('Second Name') }}</label>
                          <i class="bar"></i>

                        </div>
                      </div>
                      <!--  col-md-12   -->
                      <div class="col-md-4">
                        <div class="form-group">

                          {{ form_step1.member_name_third }}
                          <label for="input" class="control-label">{{ _('Third Name') }} </label>
                          <i class="bar"></i>

                        </div>
                      </div>
          </div>
          </fieldset>
                      <!--  col-md-12   -->
                  <div class="row">
                      <div class="col-md-4">


                        <div class="form-group">

                          {{ form_step1.id_number_member }}
                          <label for="input" class="control-label">
                            <span class="fa-stack">
                              <strong class="fa-stack-1x">3</strong>
                            </span>
                            {{ _('No. (National Identity / Residence / Visitor Limit) per person') }}</label>
                          <i class="bar"></i>
                          <a href="" class="tooltip-link" data-toggle="tooltip" data-html="true" data-placement="auto"
                          title='<span class="message">سجل رقم الهوية الوطنية للسعوديين من اليسار، أما رقم الإقامة لغير السعوديين (هوية مقيم) والتي تصدر من الجوازات السعودية من اليسار وكذلك رقم دخول الحدود للذين لم تصدر لهم إقامة من اليسار.</span>'
                          data-trigger="click"><i class="fa far fa-question-circle"></i></a>
                        </div>
                      </div>
                      <!--  col-md-12   -->
                      <div class="col-md-4">
                        <div class="form-group">
                          {{ form_step1.family_relation }}
                          <label for="input" class="control-label">
                            <span class="fa-stack">
                              <strong class="fa-stack-1x">4</strong>
                            </span>
                            {{ _('Relation') }}</label>
                          <i class="bar"></i>
                          <a href="" class="tooltip-link" data-toggle="tooltip" data-html="true" data-placement="auto"
                          title='<span class="message">اختر العلاقة أو صلة القرابة برئيس الأسرة من خلال القائمة  وهي إحدى الحالات المدونة أعلى الحقل مثل (زوجة، ابن، بنت، زوجة ابن... الخ)، وتذكر دائما أن العلاقة أو صلة القرابة تنسب إلى رئيس الأسرة، وفي حالة الأسرة التي تشتمل على مجموعة من الأفراد لا تربطهم علاقة يتم اختيار البند (لا توجد علاقة).</span>'
                          data-trigger="click"><i class="fa far fa-question-circle"></i></a>
                          </div>
                      </div>
                      <!--  col-md-12   -->
                      <div class="col-md-4">
                        <div class="form-group">
                          {{ form_step1.gender }}
                          <label for="input" class="control-label">
                            <span class="fa-stack">
                              <strong class="fa-stack-1x">5</strong>
                            </span>
                            {{ _('Gender') }}</label>
                          <i class="bar"></i>
                          <a href="" class="tooltip-link" data-toggle="tooltip" data-html="true" data-placement="auto"
                          title='<span class="message">اختر نوع الجنس لكل فرد من أفراد الأسرة ذكرا أو أنثى.</span>'
                          data-trigger="click"><i class="fa far fa-question-circle"></i></a>


                          </div>
                      </div>
              </div>
                      <!--  col-md-12   -->
              <div class="row">
                <fieldset class="scheduler-border age-fields" style="float:right;">
                   <legend class="scheduler-border">
                     <span class="fa-stack">
                       <strong class="fa-stack-1x">6</strong>
                     </span>
                     {{ _('Age and Birth Year')}}
                     <a href="" class="tooltip-legend" data-toggle="tooltip" data-html="true" data-placement="auto"
                     title='<span class="message">أكتب وبالأرقام عمر الفرد بالسنوات الكاملة، وهو الفترة الزمنية بين تاريخ ميلاده، مع إهمال الشهور والأيام مهما كان عددها وإذا كان عمر الفرد اقل من سنة يكتب له (0).</span>'
                     data-trigger="click"><i class="fa far fa-question-circle"></i></a>
                   </legend>
                      <div class="col-md-4">
                        <div class="form-group">

                          {{ form_step1.age }}
                          <label for="input" class="control-label">

                            {{ _('Age') }}</label>
                          <i class="bar"></i>

                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="form-group">
                          {{ form_step1.birth_year }}
                          <label for="input" class="control-label attachment">{{ _('Birth Year') }}</label>
                          <i class="bar"></i>
                        </div>
                      </div>
                    </fieldset>
                      <div class="col-md-4">
                        <div class="form-group">
                          {{ form_step1.nationality }}
                          <label for="input" class="control-label attachment">
                            <span class="fa-stack">
                              <strong class="fa-stack-1x">7</strong>
                            </span>
                            {{ _('Nationality') }}</label>
                          <i class="bar"></i>
                          <a href="" class="tooltip-legend" data-toggle="tooltip" data-html="true" data-placement="auto"
                          title='<span class="message">سجل جنسية الفرد  من خلال القائمة  أما بالنسبة للأفراد الذين يحملون أكثر من جنسية
تسجل الجنسية التي دخل على أساسها الفرد للمملكة.</span>'
                          data-trigger="click"><i class="fa far fa-question-circle"></i></a>
                        </div>
                      </div>
                    </div>
                      <div class="col-lg-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <fieldset class="scheduler-border">
                        <legend  class="scheduler-border">
                          <span class="fa-stack">
                            <strong class="fa-stack-1x">8</strong>
                          </span>
                          <i class="fa fa-wheelchair" style="font-size:24px;"></i>

                          {{ _('Difficulty type') }}
                          <a href="" class="tooltip-legend" data-toggle="tooltip" data-html="true" data-placement="auto"
                          title='<span class="message">تعرف الصعوبة في وظائف الجسم  بأنها إصابة الفرد بعجز أو بعاهة تحد من نشاطه وحركته في المجتمع باختلاف درجة شدتها  ( خفيفة – شديدة – بالغة  "لا يستطيع") . وهنا يتم اختيار نوع الصعوبة إن وجدت من خلال  القائمة في هذا الحقل مع تحديد درجة الصعوبة.</span>'
                          data-trigger="click"><i class="fa far fa-question-circle"></i></a>
                        </legend>
                      <div class="error" id="form_error"></div>
                      <div class="col-md-12">
                        <div class="checkbox require-one">
                          <label>
                          {{ form_step1.difficulty_1 }}
                          <i class="helper"></i>{{ _('Eyesight difficulty') }}
                         </label>

                       </div>
                      </div>

                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 levels level-1 id_difficulty_1">
                        <span>{{ form_step1.difficulty_1_degree.label }}</span>
                        <div class="form-radio">

                          {% for choice in form_step1.difficulty_1_degree %}
                          <div class="col-lg-4">
                            <div class="radio">
                              <label>
                              {{ choice.tag }}
                              <i class="helper"></i>{{ choice.choice_label }}
                              </label>
                            </div>
                          </div>
                          {% endfor %}
                        </div>
                      </div>

                      <div class="col-md-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 require-one">
                        <div class="checkbox">
                          <label>
                          {{ form_step1.difficulty_2 }}
                          <i class="helper"></i>{{ _('Hearing power difficulty') }}
                         </label>
                       </div>

                      </div>

                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 levels level-2 id_difficulty_2">
                        <span>{{ form_step1.difficulty_2_degree.label }}</span>

                        <div class="form-radio">

                          {% for choice in form_step1.difficulty_2_degree %}
                          <div class="col-lg-4">
                            <div class="radio">
                              <label>
                              {{ choice.tag }}
                              <i class="helper"></i>{{ choice.choice_label }}
                              </label>
                            </div>
                          </div>
                          {% endfor %}
                        </div>
                      </div>

                      <div class="col-md-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 require-one">
                        <div class="checkbox">
                          <label>
                          {{ form_step1.difficulty_3 }}
                          <i class="helper"></i>{{ _('Movement difficulty') }}
                         </label>
                       </div>

                      </div>

                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 levels level-3 id_difficulty_3">
                        <span>{{ form_step1.difficulty_3_degree.label }}</span>
                        <div class="form-radio">
                          {% for choice in form_step1.difficulty_3_degree %}
                            <div class="col-lg-4">
                              <div class="radio">
                                <label>
                                {{ choice.tag }}
                                <i class="helper"></i>{{ choice.choice_label }}
                                </label>
                              </div>
                            </div>
                          {% endfor %}
                        </div>
                      </div>

                      <div class="col-md-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 require-one">
                        <div class="checkbox">
                          <label>
                          {{ form_step1.difficulty_4 }}
                          <i class="helper"></i>{{ _('Memory difficulty') }}
                         </label>
                       </div>
                      </div>

                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 levels level-4 id_difficulty_4">
                        <span>{{ form_step1.difficulty_4_degree.label }}</span>

                        <div class="form-radio ">
                          {% for choice in form_step1.difficulty_4_degree %}
                          <div class="col-lg-4">
                            <div class="radio">
                              <label>
                              {{ choice.tag }}
                              <i class="helper"></i>{{ choice.choice_label }}
                              </label>
                            </div>
                          </div>
                          {% endfor %}
                        </div>
                      </div>

                      <div class="col-md-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 require-one">
                        <div class="checkbox">
                          <label>
                          {{ form_step1.difficulty_5 }}
                          <i class="helper"></i>{{ _('Personal care') }}
                         </label>
                       </div>

                      </div>

                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 levels level-5 id_difficulty_5">
                        <span>{{ form_step1.difficulty_5_degree.label }}</span>

                        <div class="form-radio ">
                          {% for choice in form_step1.difficulty_5_degree %}
                          <div class="col-lg-4">
                            <div class="radio">
                              <label>
                              {{ choice.tag }}
                              <i class="helper"></i>{{ choice.choice_label }}
                              </label>
                            </div>
                          </div>
                          {% endfor %}
                        </div>
                      </div>

                      <div class="col-md-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 require-one">
                        <div class="checkbox">
                          <label>
                          {{ form_step1.difficulty_6 }}
                          <i class="helper"></i>{{ _('Communincation') }}
                         </label>
                       </div>
                      </div>

                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 levels level-6 id_difficulty_6">
                        <span>{{ form_step1.difficulty_6_degree.label }}</span>

                        <div class="form-radio">
                          {% for choice in form_step1.difficulty_6_degree %}
                            <div class="col-lg-4">
                              <div class="radio">
                                <label>
                                {{ choice.tag }}
                                <i class="helper"></i>{{ choice.choice_label }}
                                </label>
                              </div>
                            </div>
                          {% endfor %}
                        </div>
                      </div>

                      <div class="col-md-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="checkbox">
                          <label>
                          {{ form_step1.difficulty_other }}
                          <i class="helper"></i>{{ _('Other') }}
                         </label>
                       </div>

                      </div>

                      <div class="col-md-12 col-md-12 col-sm-12 col-xs-12 levels id_difficulty_other">
                        <div class="form-group">

                          {{ form_step1.difficulty_7_txt }}
                          <label for="input" class="control-label attachment">{{ _('Type of difficulty') }}</label>
                          <i class="bar"></i>
                        </div>
                      </div>

                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 levels id_difficulty_other">
                        <span>{{ form_step1.difficulty_7_degree.label }}</span>
                        <div class="form-radio">

                          {% for choice in form_step1.difficulty_7_degree %}
                          <div class="col-lg-4">
                            <div class="radio">
                              <label>
                              {{ choice.tag }}
                              <i class="helper"></i>{{ choice.choice_label }}
                              </label>
                            </div>
                          </div>
                          {% endfor %}
                        </div>
                      </div>

                      <div class="col-md-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 require-one">
                        <div class="checkbox">
                          <label>
                          {{ form_step1.difficulty_8 }}
                          <i class="helper"></i>{{ _('Not Found') }}
                         </label>
                       </div>
                      </div>
                    </fieldset>
                  </div>
                      <div  id="resi-info">

                        <fieldset class="scheduler-border">
                          <legend class="scheduler-border">
                            <span class="fa-stack">
                              <strong class="fa-stack-1x">9</strong>
                            </span>
                            {{ _('Place of Birth') }}
                          </legend>
                          <div class="col-md-4">
                            <div class="form-group">
                              {{ form_step1.in_or_out_birth }}
                              <i class="bar"></i>
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group birth-place">

                              {{ form_step1.place_birth }}
                              <label for="input" class="control-label attachment">{{ _('Place of Birth') }}</label>
                              <i class="bar"></i>
                              <a href="" class="tooltip-link" data-toggle="tooltip" data-html="true" data-placement="auto"
                              title='<span class="message">اختر اسم المنطقة الإدارية التي ولد فيها الفرد (السعودي فقط) إذا كان الفرد مولودا داخل المملكة وللأفراد المولودين خارج المملكة يتم اختر اسم الدولة التي ولد فيها الفرد</span>'
                              data-trigger="click"><i class="fa far fa-question-circle"></i></a>
                            </div>
                          </div>
                        </fieldset>

                        <fieldset class="scheduler-border">
                          <legend class="scheduler-border">
                            <span class="fa-stack">
                              <strong class="fa-stack-1x">10</strong>
                            </span>
                            {{ _('Details of current stay') }}
                          </legend>
                            <div class="col-md-4">
                              <div class="form-group">
                                {{ form_step1.in_or_out_prev_stay }}
                                <i class="bar"></i>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group residance">

                                {{ form_step1.place_stay_previous }}
                                <label for="input" class="control-label attachment">{{ _('Previous place of stay') }}</label>
                                <i class="bar"></i>
                                <a href="" class="tooltip-link" data-toggle="tooltip" data-html="true" data-placement="auto"
                                title='<span class="message">اختر اسم المنطقة الإدارية التي كان يقيم فيها الفرد (السعودي فقط)قبل أن ينتقل إلى مكان إقامته المعتاد وللأفراد الذين كانوا يقيمون خارج المملكة اختر اسم الدولة التي كان يقيم فيها الفرد</span>'
                                data-trigger="click"><i class="fa far fa-question-circle"></i></a>
                              </div>
                            </div>
                        </fieldset>

                        <div class="col-md-4">
                          <div class="form-group">

                            {{ form_step1.place_stay }}
                            <label for="input" class="control-label attachment">
                              <span class="fa-stack">
                                <strong class="fa-stack-1x">11</strong>
                              </span>
                              {{ _('Current place of stay') }}</label>
                            <i class="bar"></i>
                            <a href="" class="tooltip-link" data-toggle="tooltip" data-html="true" data-placement="auto"
                            title='<span class="message">اختر اسم المنطقة الإدارية لمكان الإقامة المعتاد للفرد (السعودي فقط)علما أن مكان الإقامة المعتاد للفرد هو المكان الذي يقيم فيه بصفة معتادة وليست مؤقتة ويعرف مكان الإقامة المعتاد بأنه آخر مكان أقام به الفرد أو ينوي الإقامة فيه لمدة لا تقل عن ستة أشهر </span>'
                            data-trigger="click"><i class="fa far fa-question-circle"></i></a>
                          </div>
                        </div>

                    </div>
                  </fieldset>

                    <div class="button-container-form">
                        <button id="btn-submit" type="submit" class="button"><span>{{ _('Next') }} <i class="fa fa-check-circle"></i> </span></button>
                        {% if action == 'edit'%}
                          <a href="{% url "survey:home" %}"> <button type="button" class="button" style="background-color: #17a2b8;"><span>{{ _('Back') }} <i class="fa fa-arrow-circle-left"></i></span></button></a>
                        {% else %}
                          <a href="{% url "survey:start-step" %}"> <button type="button" class="button" style="background-color: #17a2b8;"><span>{{ _('Back') }} <i class="fa fa-arrow-circle-left"></i></span></button></a>
                        {% endif %}
                    </div>

                </form>

                <!--</fieldset>-->
              </div>
              <!-- Modal -->
              <div class="modal fade" id="dataModal" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="mmodal-header">
                      <div class="alert">
                      </div>

                      <h4 style="text-align:center;">{{ _('Download data from the National Information Center')}}</h4>
                    </div>
                    <div class="mmodal-body">
                      <div class="col-md-12">
                          <div class="form-group">

                            <select class="form-control" id="data-type" required>
                              <option value="individual">{{ _('Individual') }}</option>
                              <option value="all">{{ _('All Members') }}</option>
                            </select>
                            <label for="select" class="control-label">{{ _('Select') }}</label>
                            <i class="bar"></i>
                          </div>
                          <div id="individual">
                            <form method="POST">
                              <div class="form-group">
                                {% csrf_token %}
                                <input type="number" name="FatherID" class="form-control" required>
                                <label for="head_id_number" class="control-label">{{ _('ID Number') }}</label>
                                <i class="bar"></i>
                              </div>
							  <fieldset  class="scheduler-border">
							  <legend class="scheduler-border" >{{ _('DOB')}}</legend>
								<div class="col-md-4">
								 <div class="form-group">
									<select name="dob-type" class="form-control date" required>
										<option value="gregorian">{{ _('Gregorian')}}</option>
										<option value="islamic">{{ _('Hijri')}}</option>
									</select>
									<label for="DOB" class="control-label">{{ _('Date Type') }}</label>
								 </div>
								</div>
								<div class="col-md-4">
								  <div class="form-group">
									<input type="text" name="DOB" class="form-control" id="date-single"/>
									<label for="DOB" class="control-label">{{ _('DOB') }}</label>
									<i class="bar"></i>
								  </div>
								 </div>
							  </fieldset>
                              <input type="hidden" name="OperatorID" value="{{ request.session.user_id }}" />
                              <div class="button-container-form">
                                <button type="button" class="load-individual-data button"><span>{{ _('Load') }} <i class="fa fas fa-download" aria-hidden="true"></i></span></button>
                              </div>
                            </form>
                            <span class="loader"></span>
                            <div id="result" class=" result table-responsive">

                              <table class="table table-striped table-hover">
                                <thead>
                                  <tr>
                                    <th>{{ _('Name') }}</th>
                                    <th>{{ _('Age') }}</th>
                                    <th>{{ _('Nationality') }}</th>
                                    <th>{{ _('Relationship') }}</th>
                                    <th>{{ _('Gender') }}</th>
                                    <th>{{ _('Marital Status') }}</th>
                                    <th>{{ _('Actions') }}</th>
                                  </tr>
                                </thead>
                                <tbody>
                                </tbody>
                              </table>
                            </div>
                          </div>
                          <div id="all-members">
                            <form>
                              {% csrf_token %}
                              <div class="col-md-6">
                                <div class="form-group">
                                  <input type="number" name="all-FatherID"  class="form-control required" required />
                                  <label for="head_id_number" class="control-label">{{ _('ID Number') }}</label>
                                  <i class="bar"></i>
                                </div>
                              </div>
							   <div class="col-md-6">
                                <div class="form-group">
                                  <input type="number" name="all-MotherID" class="form-control required"  required />
                                  <label for="mother_id_number" class="control-label">{{ _('Mother ID Number') }}</label>
                                  <i class="bar"></i>
                                </div>
                              </div>

							   <fieldset  class="scheduler-border">
							  <legend class="scheduler-border" >{{ _('DOB')}}</legend>
								<div class="col-md-4">
								 <div class="form-group">
									<select name="dob-type-all" class="form-control date" required >
										<option value="gregorian">{{ _('Gregorian')}}</option>
										<option value="islamic">{{ _('Hijri')}}</option>
									</select>
									<label for="DOB" class="control-label">{{ _('Date Type') }}</label>
								 </div>
								</div>
								<div class="col-md-4">
								  <div class="form-group">
									<input type="text" name="all-DOB" class="form-control" id="date-single"  required />
									<label for="dob" class="control-label">{{ _('DOB') }}</label>
									<i class="bar"></i>
								  </div>
								 </div>
							  </fieldset>


                              <input type="hidden" name="all-OperatorID" value="{{ request.session.user_id }}" />
                              <div class="button-container-form">
                                <button type="button" class="load-all-data button"><span>{{ _('Load') }} <i class="fa fas fa-download" aria-hidden="true"></i></span></button>
                              </div>
                            </form>
							            <div class="col-md-12">
                            <span class="loader"></span>
                            <div id="result" class="result table-responsive">
                              <table class="table table-striped table-hover">
                                <thead>
                                  <tr>
                                    <th>{{ _('Name') }}</th>
                                    <th>{{ _('Age') }}</th>
                                    <th>{{ _('Nationality') }}</th>
                                    <th>{{ _('Relationship') }}</th>
                                    <th>{{ _('Gender') }}</th>
                                    <th>{{ _('Marital Status') }}</th>
                                    <th>{{ _('Actions') }}</th>
                                  </tr>
                                </thead>
                                <tbody>
                                </tbody>
                              </table>
                            </div>
							             </div>
                          </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default close-popup" data-dismiss="modal">{{ _('Close') }}</button>
                    </div>
                  </div>

                </div>
              </div>

{% endblock content %}

{% block javascripts %}
  {{ block.super }}
<script src="/static/build/js/plugins/moment-with-locales.min.js"></script>
<script src="/static/build/js/plugins/moment-hijri.js"></script>

<script>

// warning action
$(document).ready(function() {
$('.all-members form input').each(function(){
	$(this).attr('required');
});
	moment.locale('en-US');
  m = moment();

	 $('#date-all, #date-single').calendarsPicker({
	  calendar: $.calendars.instance('gregorian'),
	  //monthsToShow: [2, 3],
	  showOtherMonths: false,
	  onSelect: function (date) {
		//alert('You picked ' + date[0].formatDate());
	  }
	});

	$('select[name="dob-type"], select[name="dob-type-all"]').on('change',function() {
		calendar = $.calendars.instance($(this).val());
		var convert = function(value) {
			return (!value || typeof value != 'object' ? value :
				calendar.fromJD(value.toJD()));
		};
		$('.is-calendarsPicker').each(function() {
			var current = $(this).calendarsPicker('option');
			$(this).calendarsPicker('option', {calendar: calendar,
					onSelect: null, onChangeMonthYear: null,
					defaultDate: convert(current.defaultDate),
					minDate: convert(current.minDate),
					maxDate: convert(current.maxDate)}).
				calendarsPicker('option',
					{onSelect: current.onSelect,
					onChangeMonthYear: current.onChangeMonthYear});
		});
	});

  $('.result').hide();
  $("#all-members").hide();
  $("#data-type").on('change', function(){
    var value = $(this).val();
    if (value == 'individual'){
      $("#individual").show();
      $("#all-members").hide ();

    }
    else{
      $("#individual").hide();
      $("#all-members").show();
    }
  });

  $('.load-individual-data').on('click', function(event){
      event.preventDefault();
      var fid = $("input[name='FatherID']").val();

      // validations
      if(fid == ""){
        $('.alert').html('<div class="alert alert-danger">رقم الهوية مطلوب.</div>');
        $("input[name='FatherID']").attr('style','border:2px solid red');
        return false;
      }else{
        $('.alert').html('');
        $("input[name='FatherID']").attr('style','border:None;');
      }

      var do_b = $("input[name='DOB']").val();
      if(do_b == ""){
        $('.alert').html('<div class="alert alert-danger">تاريخ الميلاد مطلوب.</div>');
        $("input[name='DOB']").attr('style','border:2px solid red');
        return false;
      }
      else{
          $('.alert').html('');
        $("input[name='DOB']").attr('style','border:None;');
      }
      var opid = $("input[name='OperatorID']").val();
	  var date_type = $('select[name="dob-type"]').val();
	  var dob = "";
		if(date_type == 'gregorian'){
			greo_date = moment(do_b).endOf('iday').subtract(1, 'days').format('iYYYYiMMiDD');
			dob = greo_date;
		}
		else{
			splited_date = do_b.split("/");
			dob = splited_date[0]+splited_date[1]+splited_date[2]

		}
      var gender = [];
      gender['1600001'] = 'ذكر';
      gender['1600002'] = 'أنثى';

      $.ajax({                       // initialize an AJAX request
          url: '/ajax/load/member/',                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
          data: {
            'fid': fid,
            'dob': dob,
            'opid' : opid,    // add the country id to the GET parameters
          },
          beforeSend:function(){
            $('.loader').html('<img src="/static/build/images/loader/load.gif" />');
          },
          success: function (data) {
            console.log(data);
            var val = data;
            console.log(val);
            var user_input_age = '';
            var dob_year = '';
            var year = '';
            var myear = '';
            var hyear = '';

			      user_input_age = val.Age;
            dob_year = moment().subtract(user_input_age, 'years').calendar();
            year = dob_year.split("/");
            myear = year[2];
            hyear = moment(myear, 'YYYY').endOf('iMonth').format('iYYYY');
            $('.loader').html('');
            $('.result').show();
            $('.result > table > tbody').html(
            '<tr '
              +'data-nationality='+ val.Nationality +' '
              +'data-fname='+ val.FirstName +' '
              +'data-age='+ val.Age +' '
              +'data-year='+ hyear +' '
              +'data-relationshiptype='+ val.RelationshipType +' '
              +'data-gender='+ val.Sex +' '
              +'data-maritalstatus='+ val.MaritalStatus +'>'
              +'<td>'+ val.FirstName +'</td>'
              +'<td>'+ val.Age +'</td>'
              +'<td>'+ val.nationality_txt +'</td>'
              +'<td>'+ val.RelationshipTypeTxt +'</td>'
              +'<td>'+ gender[val.Sex] +'</td>'
              +'<td>'+ val.MartialStatustext +'</td>'
              +'<td> <input type="checkbox" class="family-record"  /></td>'
            +'</tr>');
            //});

            $('.family-record').on('change', function(){

              var nationality_code = $(this).closest('tr').data('nationality');
              var nationality_txt = $(this).closest('tr').data('nationality_txt');
              var fname = $(this).closest('tr').data('fname');
              var age = $(this).closest('tr').data('age');
              var year = $(this).closest('tr').data('year');
              var relationshiptype = $(this).closest('tr').data('relationshiptype');
              var gender = $(this).closest('tr').data('gender');
              var maritalstatus = $(this).closest('tr').data('maritalstatus');
              $.ajax({
                  url: '/ajax/save/',
                  data: {
                    'nationality_code': nationality_code,
                    'nationality_txt':nationality_txt,
                    'fname': fname,
                    'age' : age,
                    'year': year,
                    'relationshiptype':relationshiptype,
                    'gender': gender,
                    'maritalstatus': maritalstatus,
                  },
                  success: function (data) {
                    if(data.success){
                      $('.alert').html('<div class="alert alert-success">'+ data.success +' <a href="/">'+ data.link_text +'</div>');

                    }
                    else if(data.error){
                      $('.alert').html('<div class="alert alert-danger">'+ data.error +'</div>');
                    }

                  }
                });
            });
            //$('#main-job-child').show();
          //  $(".birth-place select").html(data);  // replace the contents of the city input with the data that came from the server

        },
        error:function(){
          $('.loader').html('');
          $('.alert').html('<div class="alert alert-danger">خطأ: يرجى المحاولة مرة أخرى في وقت لاحق.!</div>');
        }
        });
    });
  $('.load-all-data').on('click', function(event){
      event.preventDefault();
      var fid = $("input[name='all-FatherID']").val();

      if(fid == ""){
        $('.alert').html('<div class="alert alert-danger">رقم الهوية مطلوب.</div>');
        $("input[name='all-FatherID']").attr('style','border:2px solid red');
        return false;
      }else{
        $('.alert').html('');
        $("input[name='all-FatherID']").attr('style','border:None;');
      }

      var mid = $("input[name='all-MotherID']").val();
      if(mid == ""){
        $('.alert').html('<div class="alert alert-danger">مطلوب رقم هوية الأم.</div>');
        $("input[name='all-MotherID']").attr('style','border:2px solid red');
        return false;
      }
      else{
          $('.alert').html('');
        $("input[name='all-MotherID']").attr('style','border:None;');
      }
      var do_b = $("input[name='all-DOB']").val();
      if(do_b == ""){
        $('.alert').html('<div class="alert alert-danger">تاريخ الميلاد مطلوب.</div>');
        $("input[name='all-DOB']").attr('style','border:2px solid red');
        return false;
      }
      else{
          $('.alert').html('');
        $("input[name='all-DOB']").attr('style','border:None;');
      }

      if(do_b == ""){
        $('.alert').html('<div class="alert alert-danger">تاريخ الميلاد مطلوب.</div>');
        $("input[name='DOB']").attr('style','border:2px solid red');
        return false;
      }
      else{
          $('.alert').html('');
        $("input[name='DOB']").attr('style','border:None;');
      }
      var opid = $("input[name='all-OperatorID']").val();
	  var date_type_all = $('select[name="dob-type-all"]').val();
	  var dob = "";
		if(date_type_all == 'gregorian'){
			greo_date = moment(do_b).endOf('iday').subtract(1, 'days').format('iYYYYiMMiDD');
			dob = greo_date;
		}
		else{
			splited_date = do_b.split("/");
			dob = splited_date[0]+splited_date[1]+splited_date[2]

		}
      var gender = [];
      gender['1600001'] = 'ذكر';
      gender['1600002'] = 'أنثى';

      $.ajax({                       // initialize an AJAX request
          url: '/ajax/load/',                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
          data: {
            'fid': fid,
            'dob': dob,
            'opid' : opid,
            'mid':mid,     // add the country id to the GET parameters
          },
          beforeSend: function (){
            $('.loader').html('<img src="/static/build/images/loader/load.gif" />');
          },
          success: function (data) {
            var obj = data;
            var user_input_age = '';
            var dob_year = '';
            var year = '';
            var myear = '';
            var hyear = '';
            var html_table = '';
            $('.loader').html('');
            $(obj.Persons).each(function(i, val){

              user_input_age = val.Age;
              console.log(user_input_age)
              //if (user_input_age.length <= 3){
              //  console.log(user_input_age.length)
                 dob_year = moment().subtract(user_input_age, 'years').calendar();
                 year = dob_year.split("/");
                 myear = year[2];
                 hyear = moment(myear, 'YYYY').endOf('iMonth').format('iYYYY');
              //}
              $('.result').show();
              html_table += '<tr '
                +'data-nationality='+ val.Nationality +' '
                +'data-fname='+ val.FirstName +' '
                +'data-age='+ val.Age +' '
                +'data-year='+ hyear +' '
                +'data-relationshiptype='+ val.RelationshipType +' '
                +'data-gender='+ val.Sex +' '
                +'data-maritalstatus='+ val.MaritalStatus +'>'
                +'<td>'+ val.FirstName +'</td>'
                +'<td>'+ val.Age +'</td>'
                +'<td>'+ val.nationality_txt +'</td>'
                +'<td>'+ val.RelationshipTypeTxt +'</td>'
                +'<td>'+ gender[val.Sex] +'</td>'
                +'<td>'+ val.MartialStatustext +'</td>'
                +'<td> <input type="checkbox" class="family-record" value="'+i+'" /></td>'
              +'</tr>'
            });
            $('.result > table > tbody').html(html_table);
            $('.family-record').on('change', function(){

              var nationality_code = $(this).closest('tr').data('nationality');
              var nationality_txt = $(this).closest('tr').data('nationality_txt');
              var fname = $(this).closest('tr').data('fname');
              var age = $(this).closest('tr').data('age');
              var year = $(this).closest('tr').data('year');
              var relationshiptype = $(this).closest('tr').data('relationshiptype');
              var gender = $(this).closest('tr').data('gender');
              var maritalstatus = $(this).closest('tr').data('maritalstatus');
              $.ajax({
                  url: '/ajax/save/',
                  data: {
                    'nationality_code': nationality_code,
                    'nationality_txt':nationality_txt,
                    'fname': fname,
                    'age' : age,
                    'year': year,
                    'relationshiptype':relationshiptype,
                    'gender': gender,
                    'maritalstatus': maritalstatus,
                  },
                  success: function (data) {
                    if(data.success){
                      $('.alert').html('<div class="alert alert-success">'+ data.success +' <a href="/">'+ data.link_text +'</div>');

                    }
                    else if(data.error){
                      $('.alert').html('<div class="alert alert-danger">'+ data.error +'</div>');
                    }

                  }
                });
            });
            //$('#main-job-child').show();
          //  $(".birth-place select").html(data);  // replace the contents of the city input with the data that came from the server

        },
          error: function (){
            $('.loader').html('');
            $('.alert').html('<div class="alert alert-danger">خطأ: يرجى المحاولة مرة أخرى في وقت لاحق.!</div>');
          }
        });
    });

    $('.close-popup').on('click', function(){
        $("#result > table > thead > tr").remove();
      $("#result > table > tbody > tr").remove();
    });

    var warning = $('.js-warning').val();
    if (warning != null) {
        console.log('warning javascript')
        $("#btn-submit").hide();
        $("#family-survey-from select , #family-survey-from input[type=checkbox]").each(function () {
            $(this).prop('disabled', true);
        });
        $("#family-survey-from input").each(function () {
            $(this).prop('readonly', true);
        });
    }
    $("#btn-warning").click(function () {
        $("#family-survey-from input, #family-survey-from select, #family-survey-from input[type=checkbox]").each(function () {
            $(this).prop('disabled', false);
        });
    });
});

// hide all required sections initially
  $('.levels').hide();
  $('#resi-info').hide();
  $('#id_difficulty_8').prop('checked', true);
  $('#id_difficulty_8').attr('required', true);


// hide or unhide residance info fields based on nationality
  $('#id_nationality').on('change', function(){
    var nationality_code = $(this).val();
    if (nationality_code == 1800001) {
      $('#resi-info').slideDown('slow','linear');
      //$('#id_in_or_out').attr('required', true);
      $('#id_in_or_out_birth').attr('required', true);
      $('#id_place_birth').attr('required', true);
      $('#id_in_or_out_prev_stay').attr('required', true);
      $('#id_place_stay_previous').attr('required', true);
      $('#id_place_stay').attr('required', true);
    }
    else{
      $('#resi-info').slideUp();
      $('#id_in_or_out_birth').attr('required', false);
      $('#id_place_birth').attr('required', false);
      $('#id_in_or_out_prev_stay').attr('required', false);
      $('#id_place_stay_previous').attr('required', false);
      $('#id_place_stay').attr('required', false);
    }
  });
  $('#id_nationality').trigger('change');
$(window).load(function(){
  $('#family-survey-from input[type="checkbox"]:checked').not('#id_difficulty_8').each(function(){

      var parent_el_id = $(this).attr('id');
      $('.'+parent_el_id).slideDown('slow');
      $('#id_difficulty_8').attr('required', false);
      $('#id_difficulty_8').prop('checked', false);
  });
});


// enable toggle on all checkboxes when single field is used
  $('input[type="checkbox"]').not('#id_difficulty_8').on('change', function(){

    var this_el_id = $(this).attr('id');
    $('.'+this_el_id).slideToggle('slow','linear');

    if($(this).is(':checked')){
      $('.'+this_el_id+ ' .form-radio .radio input[type="radio"]').attr('required', true);
      $('.'+this_el_id+ ' .form-group input[type="text"]').attr('required', true);
    }
    else{
      $('.'+this_el_id+ ' .form-radio .radio input[type="radio"]').attr('required', false);
      $('.'+this_el_id+ ' .form-radio .radio input[type="radio"]').attr('checked', false);
      $('.'+this_el_id+ ' .form-group input[type="text"]').attr('required', false);
      $('.'+this_el_id+ ' .form-group input[type="text"]').val("");
    }


    if ( $('#'+this_el_id).is(':checked') )
    {
      $('#id_difficulty_8').prop('checked', false);
      $('#id_difficulty_8').attr('required', false);
    }
    else
    {
      $('#id_difficulty_8').prop('checked', true);
      $('#id_difficulty_8').attr('required', true);
    }

// control not found option when one or more checkboxes are selected.
    $('input[type="checkbox"]').not('#id_difficulty_8').each(function(){

      if($(this).is(':checked')){
          $('#id_difficulty_8').prop('checked', false);
          $('#id_difficulty_8').attr('required', false);
        }
    });

    //console.log(next_el);
  });

// control all checkboxes, radios and textfields when not found option is selected.
    $('#id_difficulty_8').on('change', function(){

      if($(this).is(':checked')){

        $('input[type="checkbox"]').not('#id_difficulty_8').each(function(){
          var parent_el_id = $(this).attr('id');
          $(this).prop('checked', false);
          $(this).attr('required', false);
          $('.'+parent_el_id+ ' .form-radio .radio input[type="radio"]').attr('required', false);
          $('.'+parent_el_id+ ' .form-radio .radio input[type="radio"]').attr('checked', false);
          $('.'+parent_el_id+ ' .form-group input[type="text"]').attr('required', false);
          $('.'+parent_el_id+ ' .form-group input[type="text"]').val("");
          $('.'+$(this).attr('id')).slideUp('slow');
        });
      }
      else{
        $('#id_difficulty_8').attr('required', true);
      }
    });
// Auto age year calculate usin moment.js plugin included
  $('#id_age').on('change', function(){

    var user_input_age = $(this).val();

    if (user_input_age.length <= 3){

      var dob_year = moment().subtract(user_input_age, 'years').calendar();
      var year = dob_year.split("/");
      var myear = year[2];
      //console.log(dob_year);
      var hyear = moment(myear, 'YYYY').endOf('iMonth').format('iYYYY');
      $('#id_birth_year').val("");
      $('#id_birth_year').val(hyear+1);
    }

  });

  $('#id_birth_year').on('change', function(){

    var year = $(this).val();
    var age = "";

    if( year.length == 4){

      if(year > 1500)
      {
        current_year = m.format('YYYY');
         age = (current_year - year);
      }
      else if(year < 1500)
      {
        current_year = m.format('iYYYY');
        age = (current_year - year) - 1;
      }
      $('#id_age').val("");
      $('#id_age').val(age);

    }

  });

$('#id_in_or_out_birth').on('change', function(){
  var selected_id = $(this).val();

  var lookup_id;
  if (selected_id == 2){
    lookup_id = 18;
  }
  else{
    lookup_id = 27;
  }

  $.ajax({                       // initialize an AJAX request
      url: '/ajax/options/',                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
      data: {
        'lookup_id': lookup_id       // add the country id to the GET parameters
      },
      success: function (data) {   // `data` is the return of the `load_cities` view function
        //$('#main-job-child').show();
        $(".birth-place select").html(data);  // replace the contents of the city input with the data that came from the server

      }
    });
});
$('#id_in_or_out_prev_stay').on('change', function(){
  var selected_id = $(this).val();

  var lookup_id;
  if (selected_id == 2){
    lookup_id = 18;
  }
  else{
    lookup_id = 27;
  }

  $.ajax({                       // initialize an AJAX request
      url: '/ajax/options/',                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
      data: {
        'lookup_id': lookup_id       // add the country id to the GET parameters
      },
      success: function (data) {   // `data` is the return of the `load_cities` view function
        //$('#main-job-child').show();
        $(".residance select").html(data);  // replace the contents of the city input with the data that came from the server

      }
    });
});
//$('#id_in_or_out').trigger('change');

// Age check on edit form in step1
//var age = {{ mem_obj.age }}

var age = $('input[name=age]').val();

//var member_id = {{ mem_obj.f_m_id }};
var action = '{{ action }}';
if( age > 0 && action == 'edit' ) {
  //setTimeout(function(){
    $('input[name=age]').on('blur',age_check);
    $('input[name=birth_year]').on('blur',age_check);
  //}, 2000);


  function age_check(){
    var new_age = $('input[name=age]').val();
    var oldage = {% if mem_obj.age %}{{ mem_obj.age }}{% else %}{{ '0' }} {% endif %};
    var message = "";
    if (new_age < 3 && new_age != oldage){
      message = 'هذا التغيير في العمر قد يحذف البيانات المتعلقة بالتعليم والعمل.'
    }
    else if(new_age >= 3 && new_age < 10 && new_age != oldage){
      message = ' التغيير في العمر سيتطلب تغييرات في: <ul><li>الحالة الدراسية</li></ul>'
    }
    else if(new_age >= 10 && new_age < 15 && new_age != oldage){
      message = ' التغيير في العمر سيتطلب تغييرات في: <ul><li>الحالة التعليم (اسم أعلى شهادة)</li><li>مجال الدراسة (التخصص)</li></ul>'
    }
    else if(new_age >= 15 && new_age != oldage){
      message = ' التغيير في العمر سيتطلب تغييرات في: <ul><li>الحالة التعليم (اسم أعلى شهادة)</li><li>مجال الدراسة (التخصص)</li><li>المهنة الرئيسية</li><li>النشاط الاقتصادي الرئيسي للجهة التي يعمل بها الفرد</li></ul>'
    }
    else{
      message = ""
    }
    if(message){

      $("input[name=age]").popover({
          trigger: 'manual',
          html:'true',
          content: "<div class='alert alert-warning'>"
            +"<i class='fa fas fa-exclamation-triangle'></i> تنبية! <div class='message'>"+ message +"</div>"
            +"<button class='btn btn-success accept action-btn' id='accept' name='yes'>نعم</button>&nbsp;"
            +"<button class='btn btn-danger cancel action-btn' id='cancel' name='no'>لا</button>"
            +"</div>",
          placement : 'top'
      });
      var old_age = {% if mem_obj.age %}{{ mem_obj.age }}{% else %}{{ '0' }}{% endif %};
      var old_year = {% if mem_obj.birth_year %}{{ mem_obj.birth_year }}{% else %}{{ '0' }}{% endif %};
      $("input[name=age]").popover('show');
      $('.message').html(message);
      $('input[name=age]').parent().addClass( "has-error has-warning has-feedback" );
      message = undefined;

      $('.action-btn').on('click', function(e){
        e.preventDefault();
        var id = $(this).attr('id');
        if (id == 'accept'){
          $('input[name=age]').parent().removeClass( "has-error has-warning has-feedback" );
          $('input[name=age]').parent().addClass( "has-warning alert-warning has-feedback" );
          $('input[name=age]').popover('hide');
        }
        else if(id == 'cancel'){
          $('input[name=age]').val(old_age);
          $('input[name=birth_year]').val(old_year);
          $('input[name=age]').parent().removeClass( "has-error has-warning has-feedback" );
          $('input[name=age]').parent().removeClass( "has-warning alert-warning has-feedback" );
          $('input[name=age]').popover('hide');
        }

      });
    }
  }
  $('input[name=age]').on('focusout', function(){
    //$(this).popover('hide');
    message = undefined;
  });
}



</script>

{% endblock %}
