{% load i18n %}

    <div class="top-bar">

        <div class="col-md-6 date">
            {% now "D d F Y " %}
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 socialicons">
        	<ul>
	        	<li><a href="https://www.instagram.com/stats_saudi/"> <i class="fa fa-instagram"></i> </a></li>
	            <li><a href="https://www.youtube.com/channel/UCUR0J1o6528tqFc7Qig4LLQ"> <i class="fa fa-youtube"></i> </a></li>
	            <li><a href="https://twitter.com/Stats_Saudi"><i class="fa fa-twitter"></i></a></li>
	            <li><a href="https://www.facebook.com/Stats.Saudi/"> <i class="fa fa-facebook"></i> </a></li>
	            <li><a href="https://www.linkedin.com/company/general-authority-for-statistics-gastat?trk=nav_account_sub_nav_company_admin"> <i class="fa fa-linkedin"></i> </a></li>
            </ul>
        </div>

    </div>
<div class="header">

    <div class="logo">
        <img class="img-responsive" src="/static/build/images/stats_logo_ar.png">
  </div>

</div>
