{% extends "base.html" %}
{% load i18n %}
{% block title %}بيانات الوفيات{% endblock %}
{% block stylesheets %}
{{ block.super }}
    <style>

hgroup {
	text-align:center;
	margin-top: 4em;
}

h1, h3 { font-weight: 300; }

h1 { color: #636363; }

h3 { color: #4a89dc; }

form {
	width: 380px;
	margin: 4em auto;
	padding: 3em 2em 2em 2em;
	background: #fafafa;
	border: 1px solid #ebebeb;
	box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}


.button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: .3em 0 1em 0;
  width: 100%;
  vertical-align: middle;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
  color:#fff !important;
  background: #4f93ce !important;
  border: 0;
  border-bottom: 2px solid #3160B6;
  cursor: pointer;
  transition: all 0.15s ease;
}
.button:focus { outline: 0; }


/* Button modifiers */

.buttonBlue {
  background: #4a89dc;
  text-shadow: 2px 2px 0 rgba(39, 110, 204, .5);
}

.buttonBlue:hover { background: #357bd8; }


input:focus { outline: none; }
footer { position:  fixed !important;}
 </style>
{% endblock %}

{% block content %}

<hgroup>
<h1>الهيئة العامة للإحصاء - العد الذاتي</h1>
  <h3>تسجيل الدخول</h3>
</hgroup>

<form  method="post" action="">
{% block messages %}
{% endblock %}
{% for message in messages %}
<div class="alert alert-danger" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
</div>
{% endfor %}
{% csrf_token %}
    <div class="form-group">
    <input type="number" name="member_id" id="member_id"  autocomplete="off" required min="0" step="1" pattern="\d*" oninput="validity.valid||(value='');" onkeypress="if(this.value.length==10) return false;" ><span class="highlight"></span><span class="bar"></span>
  <label for="input" class="control-label">{{ _('Id number') }}</label>
  <i class="bar"></i>
  </div>
    <div class="form-group">
    <input type="password" name="member_pass" id="member_pass" required  autocomplete="new-password"><span class="highlight"></span><span class="bar"></span>
  <label for="input" class="control-label">{{ _('password') }}</label>
  <i class="bar"></i>
  </div>
  <button type="submit" class="button buttonBlue"><i class="fa fa-sign-in"></i>{{ _('Login') }}  </button>


</form>









{% endblock %}

{% block javascripts %}
  {{ block.super }}
    <script>

    </script>
{% endblock %}
